Repository openmobilehub/react-native-omh-maps: changes, and which lefthook commands are due for each by the changed paths.
All: lint-android-sample-app, lint-ts, check-types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-android-sample-app:
      glob: '*.kt'
      run: cd sample-app/android && ./gradlew detekt -PautoCorrect=true --parallel --continue

    lint-ts:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}

    check-types:
      glob: '*.{ts,tsx}'
      run: yarn typecheck

commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

pre-push:
  parallel: true
  commands:
    unit-test:
      run: yarn test

feat: fix after demo
  sample-app/src/screens/demos/PolylineMapScreen.tsx
Due: lint-ts, check-types

refactor: fixes after self CR
  packages/core/android/gradle/wrapper/gradle-wrapper.jar
  packages/core/android/gradle/wrapper/gradle-wrapper.properties
  packages/core/android/gradlew
  packages/core/android/gradlew.bat
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/extensions/ReadableMapExtensions.kt
Due: lint-android-sample-app

feat: location sharing screen added
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhMyLocationButtonPressEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreModule.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreViewManager.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreModule.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreViewManager.kt
  packages/core/src/NativeOmhMapsCoreModule.ts
  packages/core/src/components/mapView/OmhMapView.tsx
  packages/core/src/components/mapView/RNOmhMapsCoreViewNativeComponent.ts
  sample-app/android/app/src/main/AndroidManifest.xml
  sample-app/package.json
  sample-app/src/App.tsx
  sample-app/src/Routes.ts
  sample-app/src/assets/img/marker_pin.png
  sample-app/src/assets/img/marker_shadow.webp
  sample-app/src/screens/MenuScreen.tsx
  sample-app/src/screens/demos/LocationResultScreen.tsx
  sample-app/src/screens/demos/LocationSharingScreen.tsx
  sample-app/src/types.d.ts
Due: lint-android-sample-app, lint-ts, check-types

feat: fixed yarn lock
  yarn.lock
Due: none

chore: remove local xcode file from git
  .github/workflows/cd.yml
  sample-app/ios/.xcode.env.local
  sample-app/ios/Podfile.lock
  sample-app/ios/RnOmhMapsExample.xcodeproj/project.pbxproj
  sample-app/ios/RnOmhMapsExample/Info.plist
  sample-app/src/App.ios.tsx
Due: lint-ts, check-types

ci: update cd workflow branch
  .github/workflows/cd.yml
Due: none

feat: fixed code review comments
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreModuleImpl.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreModule.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreModule.kt
  sample-app/src/screens/demos/LocationResultScreen.tsx
  sample-app/src/screens/demos/LocationSharingScreen.tsx
Due: lint-android-sample-app, lint-ts, check-types

feat: removed commented out code
  sample-app/src/screens/demos/LocationSharingScreen.tsx
Due: lint-ts, check-types

OMHD-197: added location sharing screen (#15)
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreModuleImpl.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhMyLocationButtonPressEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreModule.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreViewManager.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreModule.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreViewManager.kt
  packages/core/src/NativeOmhMapsCoreModule.ts
  packages/core/src/components/mapView/OmhMapView.tsx
  packages/core/src/components/mapView/RNOmhMapsCoreViewNativeComponent.ts
  sample-app/android/app/src/main/AndroidManifest.xml
  sample-app/package.json
  sample-app/src/App.tsx
  sample-app/src/Routes.ts
  sample-app/src/assets/img/marker_pin.png
  sample-app/src/assets/img/marker_shadow.webp
  sample-app/src/screens/MenuScreen.tsx
  sample-app/src/screens/demos/LocationResultScreen.tsx
  sample-app/src/screens/demos/LocationSharingScreen.tsx
  sample-app/src/types.d.ts
  yarn.lock
Due: lint-android-sample-app, lint-ts, check-types

feat: OMHD-198: Polylines (#13)
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreModuleImpl.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCorePackage.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/entities/OmhPolylineEntity.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhOnPolylineClickEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/extensions/ReadableArrayExtensions.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/extensions/ReadableMapExtensions.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/utils/ColorUtils.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/utils/DrawableLoader.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsPolylineViewManagerImpl.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreViewManager.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsPolylineViewManager.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreModule.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreViewManager.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsPolylineViewManager.kt
  packages/core/src/components/polyline/OmhPolyline.tsx
  packages/core/src/components/polyline/OmhPolylineHelpers.ts
  packages/core/src/components/polyline/RNOmhMapsPolylineNativeComponent.ts
  packages/core/src/index.tsx
  packages/core/src/types.d.ts
  packages/core/src/types/OmhPolyline.ts
  packages/core/src/types/common.ts
  sample-app/src/App.tsx
  sample-app/src/Routes.ts
  sample-app/src/components/controls/PanelCheckbox.tsx
  sample-app/src/components/controls/Picker.tsx
  sample-app/src/components/controls/Slider.tsx
  sample-app/src/screens/MenuScreen.tsx
  sample-app/src/screens/demos/PolylineMapScreen.tsx
  sample-app/src/utils/Constants.ts
  sample-app/src/utils/mathHelpers.ts
  yarn.lock
Due: lint-android-sample-app, lint-ts, check-types

OMHD-283: iOS Pipeline (#16)
  .github/workflows/cd.yml
  sample-app/ios/.xcode.env.local
  sample-app/ios/Podfile.lock
  sample-app/ios/RnOmhMapsExample.xcodeproj/project.pbxproj
  sample-app/ios/RnOmhMapsExample/Info.plist
  sample-app/src/App.ios.tsx
Due: lint-ts, check-types

refactor: split component code from types
  packages/core/package.json
  packages/core/src/components/mapView/OmhMapView.ios.tsx
  packages/core/src/components/mapView/OmhMapView.tsx
  packages/core/src/components/mapView/OmhMapView.types.ts
  packages/core/src/components/marker/OmhMarker.ios.tsx
  packages/core/src/components/marker/OmhMarker.tsx
  packages/core/src/components/marker/OmhMarker.types.ts
  packages/core/src/components/polyline/OmhPolyline.ios.tsx
  packages/core/src/components/polyline/OmhPolyline.tsx
  packages/core/src/components/polyline/OmhPolyline.types.ts
  packages/core/src/components/polyline/OmhPolylineHelpers.ts
  packages/core/src/index.tsx
  packages/core/src/types/common.ts
  sample-app/ios/Podfile
  sample-app/ios/Podfile.lock
  sample-app/ios/RnOmhMapsExample/AppDelegate.mm
  sample-app/package.json
  sample-app/src/App.ios.tsx
  yarn.lock
Due: lint-ts, check-types

refactor: update style prop
  packages/core/src/components/mapView/OmhMapView.ios.tsx
  packages/core/src/components/mapView/OmhMapView.tsx
  packages/core/src/components/mapView/OmhMapView.types.ts
  packages/core/src/index.tsx
  packages/core/src/modules/core/NativeOmhMapsCoreModule.ts
  packages/core/src/modules/core/OmhMapsModule.ios.ts
  packages/core/src/modules/core/OmhMapsModule.ts
  packages/core/src/modules/core/OmhMapsModule.types.ts
  packages/core/src/types/common.ts
  packages/core/src/utils/styleHelpers.ts
  sample-app/src/App.ios.tsx
  sample-app/src/components/MapProviderPicker.tsx
  sample-app/src/screens/demos/CameraMapScreen.tsx
  sample-app/src/screens/demos/LocationSharingScreen.tsx
  sample-app/src/screens/demos/MarkerMapScreen.tsx
  sample-app/src/screens/demos/MultipleMapsScreen.tsx
  sample-app/src/screens/demos/PlainMapScreen.tsx
  sample-app/src/screens/demos/PolylineMapScreen.tsx
  sample-app/src/screens/demos/StylesMapScreen.tsx
Due: lint-ts, check-types

feat: add support for provider selection
  packages/core/src/components/mapView/OmhMapView.ios.tsx
  packages/core/src/modules/core/OmhMapsModule.ios.ts
  packages/core/src/modules/core/OmhMapsModule.ts
  packages/core/src/modules/core/OmhMapsModule.types.ts
  packages/core/src/types/common.ts
  sample-app/src/components/MapProviderPicker.tsx
  sample-app/src/screens/MenuScreen.tsx
  sample-app/src/screens/demos/MarkerMapScreen.tsx
Due: lint-ts, check-types

fix: vector icons fix for iOS
  sample-app/ios/Fonts/MaterialCommunityIcons.ttf
  sample-app/ios/Podfile.lock
  sample-app/ios/RnOmhMapsExample.xcodeproj/project.pbxproj
  sample-app/ios/RnOmhMapsExample/Info.plist
  sample-app/react-native.config.js
Due: lint-ts

refactor: fixes after self CR
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .gitignore
  packages/core/src/components/mapView/OmhMapView.ios.tsx
  packages/core/src/components/mapView/OmhMapView.tsx
  packages/core/src/components/mapView/OmhMapView.types.ts
  packages/core/src/index.tsx
  packages/core/src/modules/core/NativeOmhMapsCoreModule.ts
  packages/core/src/modules/core/OmhMapsModule.ios.ts
  packages/core/src/modules/core/OmhMapsModule.types.ts
  packages/core/src/types/common.ts
  packages/core/src/utils/styleHelpers.ts
  packages/plugin-azuremaps/src/index.tsx
  packages/plugin-googlemaps/src/index.tsx
  packages/plugin-mapbox/src/index.tsx
  packages/plugin-openstreetmap/src/index.tsx
  sample-app/README.md
  sample-app/ios/Config.xcconfig
  sample-app/ios/RnOmhMapsExample.xcodeproj/project.pbxproj
  sample-app/ios/RnOmhMapsExample/AppDelegate.mm
  sample-app/ios/RnOmhMapsExample/Info.plist
  sample-app/src/components/MapProviderPicker.tsx
  sample-app/src/context/MapProviderChoiceContext.tsx
  sample-app/src/screens/MenuScreen.tsx
Due: lint-ts, check-types

ci: revert ci changes
  .github/workflows/ci.yml
Due: none

feat: implement basic MapView props
  packages/core/src/components/mapView/OmhMapView.ios.tsx
  packages/core/src/components/mapView/OmhMapViewHelpers.ts
  sample-app/src/components/PanelCheckbox.tsx
  sample-app/src/components/controls/PanelCheckbox.tsx
  sample-app/src/screens/demos/CameraMapScreen.tsx
Due: lint-ts, check-types

refactor: component placement
  sample-app/src/components/PanelCheckbox.tsx
  sample-app/src/components/controls/PanelButton.tsx
  sample-app/src/components/controls/PanelRadioButtonItem.tsx
  sample-app/src/components/ui/PanelButton.tsx
  sample-app/src/screens/demos/CameraMapScreen.tsx
  sample-app/src/screens/demos/PolylineMapScreen.tsx
  sample-app/src/screens/demos/StylesMapScreen.tsx
Due: lint-ts, check-types

refactor: changes after self CR
  packages/core/src/components/mapView/OmhMapView.ios.tsx
  packages/core/src/components/mapView/OmhMapView.tsx
  packages/core/src/components/mapView/OmhMapViewHelpers.ts
Due: lint-ts, check-types

ci: update setup secrets step
  .github/workflows/cd.yml
Due: none

feat: add polygons
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCorePackage.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/entities/OmhPolygonEntity.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhOnPolygonClickEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsPolygonViewManagerImpl.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsPolygonViewManager.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsPolygonViewManager.kt
  packages/core/src/components/polygon/OmhPolygon.tsx
  packages/core/src/components/polygon/RNOmhMapsPolygonNativeComponent.ts
  packages/core/src/components/polyline/OmhPolyline.types.ts
  packages/core/src/index.tsx
  sample-app/src/App.tsx
  sample-app/src/Routes.ts
  sample-app/src/screens/MenuScreen.tsx
  sample-app/src/screens/demos/PolygonMapScreen.tsx
Due: lint-android-sample-app, lint-ts, check-types

ci: update cd workflow
  .github/workflows/cd.yml
Due: none

OMHD-168: Interactions and gestures (#18)
  .github/workflows/cd.yml
  packages/core/src/components/mapView/OmhMapView.ios.tsx
  packages/core/src/components/mapView/OmhMapView.tsx
  packages/core/src/components/mapView/OmhMapViewHelpers.ts
  sample-app/src/components/PanelCheckbox.tsx
  sample-app/src/components/controls/PanelButton.tsx
  sample-app/src/components/controls/PanelCheckbox.tsx
  sample-app/src/components/controls/PanelRadioButtonItem.tsx
  sample-app/src/components/ui/PanelButton.tsx
  sample-app/src/screens/demos/CameraMapScreen.tsx
  sample-app/src/screens/demos/PolylineMapScreen.tsx
  sample-app/src/screens/demos/StylesMapScreen.tsx
Due: lint-ts, check-types

feat: move polygons types to separate file & holes support
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/extensions/ReadableArrayExtensions.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsPolygonViewManagerImpl.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsPolygonViewManager.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsPolygonViewManager.kt
  packages/core/src/components/polygon/OmhPolygon.tsx
  packages/core/src/components/polygon/OmhPolygon.types.ts
  packages/core/src/components/polygon/RNOmhMapsPolygonNativeComponent.ts
  packages/core/src/index.tsx
  packages/core/src/types/OmhPolygon.ts
  sample-app/src/screens/demos/PolygonMapScreen.tsx
Due: lint-android-sample-app, lint-ts, check-types

fix: null pointer exception on old arch when unmounting entites after unmounting map fragment (#19)
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
Due: lint-android-sample-app

feat: add map support
  packages/core/src/components/mapView/OmhMapView.ios.tsx
  packages/core/src/components/mapView/OmhMapViewHelpers.ts
  sample-app/src/screens/demos/StylesMapScreen.tsx
Due: lint-ts, check-types

feat: add log for invalid map style
  packages/core/src/components/mapView/OmhMapView.ios.tsx
Due: lint-ts, check-types

refactor: reuse types and constants between PolygonMapScreen and PolylineMapScreen
  sample-app/src/screens/demos/PolygonMapScreen.tsx
  sample-app/src/screens/demos/PolylineMapScreen.tsx
  sample-app/src/types/common.ts
  sample-app/src/utils/Constants.ts
Due: lint-ts, check-types

OMHD-207: iOS Map Styling (#20)
  packages/core/src/components/mapView/OmhMapView.ios.tsx
  packages/core/src/components/mapView/OmhMapViewHelpers.ts
  sample-app/src/screens/demos/StylesMapScreen.tsx
Due: lint-ts, check-types

feat: make fill undefined by default
  sample-app/src/screens/demos/PolygonMapScreen.tsx
Due: lint-ts, check-types

refactor: create new location module
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreModuleImpl.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCorePackage.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsLocationModuleImpl.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreModule.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsLocationModule.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreModule.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsLocationModule.kt
  packages/core/src/components/mapView/OmhMapView.tsx
  packages/core/src/components/mapView/OmhMapView.types.ts
  packages/core/src/index.tsx
  packages/core/src/modules/core/NativeOmhMapsCoreModule.ts
  packages/core/src/modules/core/OmhMapsModule.ios.ts
  packages/core/src/modules/core/OmhMapsModule.ts
  packages/core/src/modules/core/OmhMapsModule.types.ts
  packages/core/src/modules/location/NativeOmhMapsLocationModule.ts
  packages/core/src/modules/location/OmhMapsLocationModule.ios.ts
  packages/core/src/modules/location/OmhMapsLocationModule.ts
  packages/core/src/modules/location/OmhMapsLocationModule.types.ts
  sample-app/android/gradle.properties
  sample-app/src/screens/demos/LocationSharingScreen.tsx
Due: lint-android-sample-app, lint-ts, check-types

fix: oldarch RNOmhMapsCoreModule
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreModule.kt
Due: lint-android-sample-app

OMHD-199: Polygon (#21)
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCorePackage.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/entities/OmhPolygonEntity.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhOnPolygonClickEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/extensions/ReadableArrayExtensions.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsPolygonViewManagerImpl.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsPolygonViewManager.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreModule.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsPolygonViewManager.kt
  packages/core/src/components/polygon/OmhPolygon.tsx
  packages/core/src/components/polygon/OmhPolygon.types.ts
  packages/core/src/components/polygon/RNOmhMapsPolygonNativeComponent.ts
  packages/core/src/components/polyline/OmhPolyline.types.ts
  packages/core/src/index.tsx
  packages/core/src/types/OmhPolygon.ts
  sample-app/src/App.tsx
  sample-app/src/Routes.ts
  sample-app/src/screens/MenuScreen.tsx
  sample-app/src/screens/demos/PolygonMapScreen.tsx
  sample-app/src/screens/demos/PolylineMapScreen.tsx
  sample-app/src/types/common.ts
  sample-app/src/utils/Constants.ts
Due: lint-android-sample-app, lint-ts, check-types

fix: import
  sample-app/src/screens/demos/PolygonMapScreen.tsx
Due: lint-ts, check-types

fix: import (#22)
  sample-app/src/screens/demos/PolygonMapScreen.tsx
Due: lint-ts, check-types

feat: add location services ios
  packages/core/package.json
  packages/core/src/components/mapView/OmhMapView.ios.tsx
  packages/core/src/components/marker/OmhMarker.ios.tsx
  packages/core/src/modules/location/OmhMapsLocationModule.ios.ts
  sample-app/android/app/src/main/AndroidManifest.xml
  sample-app/ios/Podfile
  sample-app/ios/Podfile.lock
  sample-app/ios/RnOmhMapsExample/AppDelegate.mm
  sample-app/ios/RnOmhMapsExample/Info.plist
  sample-app/package.json
  sample-app/react-native.config.js
  sample-app/src/App.tsx
  sample-app/src/Routes.ts
  sample-app/src/components/MapProviderPicker.tsx
  sample-app/src/components/layout/AppBarHeader.tsx
  sample-app/src/screens/MenuScreen.tsx
  sample-app/src/screens/demos/LocationResultScreen.tsx
  sample-app/src/screens/demos/LocationSharingScreen.tsx
  sample-app/src/screens/demos/PlainMapScreen.tsx
  sample-app/src/screens/demos/SharedLocationMapScreen.tsx
  yarn.lock
Due: lint-ts, check-types
