Repository openmobilehub/react-native-omh-maps: changes, and which lefthook commands are due for each by the changed paths.
All: lint-android-sample-app, lint-ts, check-types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-android-sample-app:
      glob: '*.kt'
      run: cd sample-app/android && ./gradlew detekt -PautoCorrect=true --parallel --continue

    lint-ts:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}

    check-types:
      glob: '*.{ts,tsx}'
      run: yarn typecheck

commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

pre-push:
  parallel: true
  commands:
    unit-test:
      run: yarn test

docs: add core module docs
  packages/core/README.md
  packages/core/src/index.tsx
  packages/plugin-azuremaps/README.md
  packages/plugin-googlemaps/README.md
  packages/plugin-mapbox/README.md
  packages/plugin-openstreetmap/README.md
Due: lint-ts, check-types

docs: adjusted domain for hosting docs
  README.md
  docs/docs/getting-started.md
  docs/docusaurus.config.ts
Due: lint-ts, check-types

docs: changes after CR
  docs/docs/apple.md
  packages/plugin-googlemaps/README.md
Due: none

OMHD-357: Core module docs (#58)
  docs/docs/apple.md
  packages/core/README.md
  packages/plugin-azuremaps/README.md
  packages/plugin-googlemaps/README.md
  packages/plugin-mapbox/README.md
  packages/plugin-openstreetmap/README.md
Due: none

docs: updates after cr
  README.md
Due: none

feat: added sample app documentation (#42)
  README.md
  apps/sample-app/README.md
  apps/sample-app/android/app/src/main/AndroidManifest.xml
  package.json
  scripts/postInstall.js
Due: lint-ts

fix: updates URLs in docs
  README.md
  packages/core/README.md
Due: none

docs: update link to OmhMapsLocationModule
  packages/core/README.md
Due: none

fix: updates URLs in docs (#60)
  README.md
  packages/core/README.md
Due: none

docs: adjusted domain for hosting docs (#59)
  README.md
  docs/docs/getting-started.md
  docs/docusaurus.config.ts
Due: lint-ts, check-types

fix: adjust package names in existing codebase - leftovers from before package name changes
  apps/sample-app/ios/RnOmhMapsExample.xcodeproj/project.pbxproj
  packages/plugin-googlemaps/android/build.gradle
Due: none

fix: adjusted createPlugin script to current state of project architecture
  scripts/createPlugin.ts
Due: lint-ts, check-types

fix: force recreate marker on draggable change
  packages/core/src/components/marker/OmhMarker.ios.tsx
Due: lint-ts, check-types

OMHD-371: fix create new plugin script (#61)
  apps/sample-app/ios/RnOmhMapsExample.xcodeproj/project.pbxproj
  packages/plugin-googlemaps/android/build.gradle
  scripts/createPlugin.ts
Due: lint-ts, check-types

fix: draggable should be true by default & show icon marker even when icon is not supported
  apps/sample-app/src/screens/demos/MarkerMapScreen.tsx
Due: lint-ts, check-types

fix: bug
  packages/core/src/components/marker/OmhMarker.ios.tsx
Due: lint-ts, check-types

docs: updated landing page
  docs/docusaurus.config.ts
  docs/src/components/HomepageFeatures/index.tsx
  docs/static/img/banner-coding.svg
  docs/static/img/banner-note-taking.svg
  docs/static/img/banner-progress.svg
  docs/static/img/docusaurus-social-card.jpg
  docs/static/img/docusaurus.png
  docs/static/img/favicon.ico
  docs/static/img/logo.png
  docs/static/img/logo.svg
  docs/static/img/social-card.png
  docs/static/img/undraw_docusaurus_mountain.svg
  docs/static/img/undraw_docusaurus_react.svg
  docs/static/img/undraw_docusaurus_tree.svg
Due: lint-ts, check-types

refactor: remove scaleFactor
  README.md
  docs/docs/apple.md
  packages/core/src/components/mapView/OmhMapView.types.ts
  packages/plugin-azuremaps/README.md
  packages/plugin-googlemaps/README.md
  packages/plugin-mapbox/README.md
  packages/plugin-openstreetmap/README.md
Due: lint-ts, check-types

refactor: remove scaleFactor (#63)
  README.md
  docs/docs/apple.md
  packages/core/src/components/mapView/OmhMapView.types.ts
  packages/plugin-azuremaps/README.md
  packages/plugin-googlemaps/README.md
  packages/plugin-mapbox/README.md
  packages/plugin-openstreetmap/README.md
Due: lint-ts, check-types

docs: updated landing page (#64)
  docs/docusaurus.config.ts
  docs/src/components/HomepageFeatures/index.tsx
  docs/static/img/banner-coding.svg
  docs/static/img/banner-note-taking.svg
  docs/static/img/banner-progress.svg
  docs/static/img/docusaurus-social-card.jpg
  docs/static/img/docusaurus.png
  docs/static/img/favicon.ico
  docs/static/img/logo.png
  docs/static/img/logo.svg
  docs/static/img/social-card.png
  docs/static/img/undraw_docusaurus_mountain.svg
  docs/static/img/undraw_docusaurus_react.svg
  docs/static/img/undraw_docusaurus_tree.svg
Due: lint-ts, check-types

feat: updates in documentation and removed the unused screen
  README.md
  apps/sample-app/src/App.tsx
  apps/sample-app/src/Routes.ts
  apps/sample-app/src/screens/demos/MultipleMapsScreen.tsx
  docs/docs/apple.md
  docs/docs/getting-started.md
  docs/docs/gettingstarted.mdx
  docs/docusaurus.config.ts
  packages/core/README.md
  packages/plugin-azuremaps/README.md
  packages/plugin-googlemaps/README.md
  packages/plugin-mapbox/README.md
  packages/plugin-openstreetmap/README.md
Due: lint-ts, check-types

feat: ios marker fixes
  apps/sample-app/src/screens/demos/MarkerMapScreen.tsx
  packages/core/src/components/marker/OmhMarker.ios.tsx
Due: lint-ts, check-types

refactor: change useState/useEffect to useMemo
  apps/sample-app/src/screens/demos/MarkerMapScreen.tsx
  packages/core/src/components/marker/OmhMarker.ios.tsx
  packages/core/src/components/marker/OmhMarkerHelpers.ts
Due: lint-ts, check-types

OMHD-370: iOS Marker Draggable (#66)
  apps/sample-app/src/screens/demos/MarkerMapScreen.tsx
  packages/core/src/components/marker/OmhMarker.ios.tsx
  packages/core/src/components/marker/OmhMarkerHelpers.ts
Due: lint-ts, check-types

feat: replaced legendary broccoli with final names
  README.md
  docs/docs/apple.md
  packages/core/README.md
  packages/plugin-azuremaps/README.md
  packages/plugin-googlemaps/README.md
  packages/plugin-mapbox/README.md
  packages/plugin-openstreetmap/README.md
Due: none

fix: marker not removing native component from map upon re-creation but not detachment from RN tree
  apps/sample-app/src/screens/demos/MarkerMapScreen.tsx
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsMarkerViewManagerImpl.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsMarkerViewManager.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsMarkerViewManager.kt
  packages/core/src/components/marker/OmhMarker.tsx
  packages/core/src/components/marker/RNOmhMapsMarkerNativeComponent.ts
Due: lint-android-sample-app, lint-ts, check-types

refactor: disable zIndex support for AppleMaps
  apps/sample-app/src/screens/demos/MarkerMapScreen.tsx
  docs/docs/apple.md
  packages/core/src/components/marker/OmhMarker.ios.tsx
Due: lint-ts, check-types

fix: marker apperance fixes
  packages/core/src/components/marker/OmhMarker.ios.tsx
  packages/core/src/components/marker/OmhMarkerConstants.ts
Due: lint-ts, check-types

fix: marker not removing native component from map upon re-creation but not detachment from RN tree (#68)
  apps/sample-app/src/screens/demos/MarkerMapScreen.tsx
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsMarkerViewManagerImpl.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsMarkerViewManager.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsMarkerViewManager.kt
  packages/core/src/components/marker/OmhMarker.tsx
  packages/core/src/components/marker/RNOmhMapsMarkerNativeComponent.ts
Due: lint-android-sample-app, lint-ts, check-types

OMHD-367/OMHD-368: Marker fixes (#69)
  apps/sample-app/src/screens/demos/MarkerMapScreen.tsx
  docs/docs/apple.md
  packages/core/src/components/marker/OmhMarker.ios.tsx
  packages/core/src/components/marker/OmhMarkerConstants.ts
Due: lint-ts, check-types

feat: updated part of documentation related to apple
  README.md
Due: none

ci: fix setup secrets step
  .github/scripts/setup_secrets.sh
Due: none

ci: fix setup secrets step (#70)
  .github/scripts/setup_secrets.sh
Due: none

feat: omhd-374 fixed too small zoom on osm maps
  apps/sample-app/src/screens/demos/MarkerMapScreen.tsx
Due: lint-ts, check-types

feat: omhd-374 added consuming marker clicks
  apps/sample-app/src/screens/demos/MarkerMapScreen.tsx
Due: lint-ts, check-types

feat: omhd-374 fixed too small zoom on osm maps (#71)
  apps/sample-app/src/screens/demos/MarkerMapScreen.tsx
Due: lint-ts, check-types

Feat/docs update (#67)
  README.md
  apps/sample-app/src/App.tsx
  apps/sample-app/src/Routes.ts
  apps/sample-app/src/screens/demos/MultipleMapsScreen.tsx
  docs/docs/apple.md
  docs/docs/getting-started.md
  docs/docs/gettingstarted.mdx
  docs/docusaurus.config.ts
  packages/core/README.md
  packages/plugin-azuremaps/README.md
  packages/plugin-googlemaps/README.md
  packages/plugin-mapbox/README.md
  packages/plugin-openstreetmap/README.md
Due: lint-ts, check-types

fix: strip OSM native component
  packages/plugin-openstreetmap/android/build.gradle
  packages/plugin-openstreetmap/src/RNOmhMapsPluginOpenstreetmapViewNativeComponent.ts
Due: lint-ts, check-types

fix: strip OSM native component (#72)
  packages/plugin-openstreetmap/android/build.gradle
  packages/plugin-openstreetmap/src/RNOmhMapsPluginOpenstreetmapViewNativeComponent.ts
Due: lint-ts, check-types

docs: update apple maps documentation
  README.md
  docs/docs/apple.md
Due: none
