Repository openmobilehub/react-native-omh-maps: changes, and which lefthook commands are due for each by the changed paths.
All: lint-android-sample-app, lint-ts, check-types

lint-android-sample-app:
  run: cd sample-app/android && ./gradlew detekt -PautoCorrect=true --parallel --continue

lint-ts:
  run: npx eslint {staged_files}

check-types:
  run: yarn typecheck

feat: add imperative api for marker
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsMarkerViewManagerImpl.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsMarkerViewManager.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsMarkerViewManager.kt
  packages/core/src/components/marker/OmhMarker.tsx
  packages/core/src/components/marker/OmhMarker.types.ts
  packages/core/src/components/marker/RNOmhMapsMarkerNativeComponent.ts
  sample-app/src/screens/demos/InfoWindowScreen.tsx
Due: lint-android-sample-app, lint-ts, check-types

feat: migrate InfoWindowScreen to imperative show/hideInfoWindow calls
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsMarkerViewManagerImpl.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsMarkerViewManager.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsMarkerViewManager.kt
  packages/core/src/components/marker/OmhMarker.types.ts
  packages/core/src/components/marker/RNOmhMapsMarkerNativeComponent.ts
  sample-app/src/screens/demos/InfoWindowScreen.tsx
Due: lint-android-sample-app, lint-ts, check-types

feat: iOS imperative show/hideInfoWindow
  packages/core/src/components/marker/OmhMarker.ios.tsx
Due: lint-ts, check-types

feat: added sample app documentation
  package.json
  sample-app/README.md
  scripts/postInstall.js
Due: lint-ts

feat: added sample app section in main readme
  README.md
  sample-app/README.md
Due: none

feat: unsupported features handling
  packages/core/src/components/marker/OmhMarker.ios.tsx
  packages/core/src/components/marker/OmhMarker.types.ts
  sample-app/src/screens/demos/InfoWindowScreen.tsx
Due: lint-ts, check-types

feat: adjust MarkerMapScreen to imperative hide/showInfoWindow calls
  sample-app/src/screens/demos/MarkerMapScreen.tsx
Due: lint-ts, check-types

feat: add mapbox docs
  packages/plugin-mapbox/README.md
Due: none

docs: add readme for all providers
  packages/plugin-azuremaps/README.md
  packages/plugin-googlemaps/README.md
  packages/plugin-mapbox/README.md
  packages/plugin-openstreetmap/README.md
Due: none

fix: fix app crashing
  packages/core/src/components/mapView/OmhMapView.ios.tsx
  sample-app/ios/RnOmhMapsExample.xcodeproj/project.pbxproj
Due: lint-ts, check-types

Plugin Setup Docs (#47)
  packages/plugin-azuremaps/README.md
  packages/plugin-googlemaps/README.md
  packages/plugin-mapbox/README.md
  packages/plugin-openstreetmap/README.md
Due: none

fix: fix app crashing (#48)
  packages/core/src/components/mapView/OmhMapView.ios.tsx
  sample-app/ios/RnOmhMapsExample.xcodeproj/project.pbxproj
Due: lint-ts, check-types

fix: fix events on iOS maps
  packages/core/src/components/mapView/OmhMapView.ios.tsx
  sample-app/src/screens/demos/LocationSharingScreen.tsx
Due: lint-ts, check-types

fix: fix events on iOS maps (#49)
  packages/core/src/components/mapView/OmhMapView.ios.tsx
  sample-app/src/screens/demos/LocationSharingScreen.tsx
Due: lint-ts, check-types

OMHD-203: iOS info window (#40)
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsMarkerViewManagerImpl.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsMarkerViewManager.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsMarkerViewManager.kt
  packages/core/src/components/marker/OmhMarker.ios.tsx
  packages/core/src/components/marker/OmhMarker.tsx
  packages/core/src/components/marker/OmhMarker.types.ts
  packages/core/src/components/marker/RNOmhMapsMarkerNativeComponent.ts
  sample-app/src/screens/demos/InfoWindowScreen.tsx
  sample-app/src/screens/demos/MarkerMapScreen.tsx
Due: lint-android-sample-app, lint-ts, check-types

refactor: update provider picker on iOS
  sample-app/src/components/MapProviderPicker.tsx
Due: lint-ts, check-types

refactor: update provider picker on iOS (#50)
  sample-app/src/components/MapProviderPicker.tsx
Due: lint-ts, check-types

fix: my location button fixes
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
Due: lint-android-sample-app

feat: review fixes
  sample-app/README.md
  sample-app/android/app/src/main/AndroidManifest.xml
Due: none

refactor: remove not used code
  packages/core/src/components/mapView/OmhMapView.tsx
  packages/core/src/components/mapView/OmhMapViewNativeHelpers.ts
  packages/plugin-azuremaps/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/azuremaps/FragmentUtils.kt
  packages/plugin-azuremaps/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/azuremaps/RNOmhMapsPluginAzuremapsModuleImpl.kt
  packages/plugin-azuremaps/android/src/newarch/RNOmhMapsPluginAzuremapsModule.kt
  packages/plugin-azuremaps/android/src/oldarch/RNOmhMapsPluginAzuremapsModule.kt
  packages/plugin-azuremaps/src/NativeOmhMapsPluginAzureMapsModule.ts
  packages/plugin-mapbox/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/mapbox/RNOmhMapsPluginMapboxModuleImpl.kt
  packages/plugin-mapbox/android/src/newarch/RNOmhMapsPluginMapboxModule.kt
  packages/plugin-mapbox/android/src/oldarch/RNOmhMapsPluginMapboxModule.kt
  packages/plugin-mapbox/src/NativeOmhMapsPluginMapboxModule.ts
Due: lint-android-sample-app, lint-ts, check-types

fix: fix ios polyline outline
  packages/core/src/components/polygon/OmhPolygon.ios.tsx
  packages/core/src/components/polygon/OmhPolygonHelpers.ts
Due: lint-ts, check-types

fix: fix picker padding
  sample-app/src/components/MapProviderPicker.tsx
  sample-app/src/components/controls/Picker.tsx
Due: lint-ts, check-types

OMHD-314: Location finder button not visible (#51)
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/src/components/mapView/OmhMapView.tsx
  packages/core/src/components/mapView/OmhMapViewNativeHelpers.ts
  packages/plugin-azuremaps/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/azuremaps/FragmentUtils.kt
  packages/plugin-azuremaps/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/azuremaps/RNOmhMapsPluginAzuremapsModuleImpl.kt
  packages/plugin-azuremaps/android/src/newarch/RNOmhMapsPluginAzuremapsModule.kt
  packages/plugin-azuremaps/android/src/oldarch/RNOmhMapsPluginAzuremapsModule.kt
  packages/plugin-azuremaps/src/NativeOmhMapsPluginAzureMapsModule.ts
  packages/plugin-mapbox/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/mapbox/RNOmhMapsPluginMapboxModuleImpl.kt
  packages/plugin-mapbox/android/src/newarch/RNOmhMapsPluginMapboxModule.kt
  packages/plugin-mapbox/android/src/oldarch/RNOmhMapsPluginMapboxModule.kt
  packages/plugin-mapbox/src/NativeOmhMapsPluginMapboxModule.ts
Due: lint-android-sample-app, lint-ts, check-types

OMHD-331: iOS Polygon Fixes (#52)
  packages/core/src/components/polygon/OmhPolygon.ios.tsx
  packages/core/src/components/polygon/OmhPolygonHelpers.ts
  sample-app/src/components/MapProviderPicker.tsx
  sample-app/src/components/controls/Picker.tsx
Due: lint-ts, check-types

docs: include iOS plugins
  README.md
  docs/docs/apple.md
  docs/sidebars.ts
  packages/plugin-azuremaps/README.md
  packages/plugin-googlemaps/README.md
  packages/plugin-mapbox/README.md
  packages/plugin-openstreetmap/README.md
Due: lint-ts, check-types

docs: update docs
  CONTRIBUTING.md
Due: none

refactor: move sample app to apps directory, fixes
  .github/scripts/setup_secrets.sh
  .github/workflows/cd.yml
  .gitignore
  CONTRIBUTING.md
  apps/sample-app/README.md
  apps/sample-app/babel.config.js
  apps/sample-app/config-constants.js
  apps/sample-app/ios/Podfile.lock
  apps/sample-app/ios/RnOmhMapsExample.xcodeproj/project.pbxproj
  apps/sample-app/metro.config.js
  apps/sample-app/react-native.config.js
  apps/sample-app/src/screens/demos/InfoWindowScreen.tsx
  lefthook.yml
  package.json
  tsconfig.build.json
  yarn.lock
Due: lint-ts, check-types

docs: ios providers configuration
  docs/docs/apple.md
  packages/core/src/index.tsx
  packages/core/src/modules/core/OmhMapsModule.ios.ts
  packages/core/src/modules/ios/providers.ts
  packages/core/src/types/common.ts
  packages/plugin-azuremaps/README.md
  packages/plugin-googlemaps/README.md
  packages/plugin-googlemaps/src/index.tsx
  packages/plugin-mapbox/README.md
  packages/plugin-openstreetmap/README.md
  sample-app/src/screens/MenuScreen.tsx
Due: lint-ts, check-types

docs: add Parity Matrix to plugins
  README.md
  packages/plugin-azuremaps/README.md
  packages/plugin-mapbox/README.md
  packages/plugin-openstreetmap/README.md
Due: none

chore: merge with main
  packages/core/src/components/mapView/OmhMapView.types.ts
  packages/core/src/components/polygon/OmhPolygon.types.ts
  packages/core/src/components/polyline/OmhPolyline.types.ts
  packages/core/src/modules/core/OmhMapsModule.types.ts
  packages/core/src/modules/location/OmhMapsLocationModule.types.ts
  packages/core/src/types/OmhCallout.ts
  packages/core/src/types/common.ts
Due: lint-ts, check-types

docs: update entry points
  packages/core/src/index.tsx
  packages/core/src/modules/location/OmhMapsLocationModule.types.ts
Due: lint-ts, check-types

fix: add more padding for iOS picker
  apps/sample-app/src/components/MapProviderPicker.tsx
Due: lint-ts, check-types

docs: fixes after cr
  README.md
  docs/docs/apple.md
  packages/core/src/components/polyline/OmhPolyline.ios.tsx
  packages/plugin-azuremaps/README.md
  packages/plugin-googlemaps/README.md
  packages/plugin-mapbox/README.md
  packages/plugin-openstreetmap/README.md
Due: lint-ts, check-types

OMHD-353: Update type doc definitions (#57)
  apps/sample-app/src/components/MapProviderPicker.tsx
  packages/core/src/components/mapView/OmhMapView.types.ts
  packages/core/src/components/polygon/OmhPolygon.types.ts
  packages/core/src/components/polyline/OmhPolyline.types.ts
  packages/core/src/index.tsx
  packages/core/src/modules/core/OmhMapsModule.types.ts
  packages/core/src/modules/location/OmhMapsLocationModule.types.ts
  packages/core/src/types/OmhCallout.ts
  packages/core/src/types/common.ts
Due: lint-ts, check-types

docs: updates after cr
  docs/docs/apple.md
  packages/plugin-googlemaps/README.md
Due: none

Docs: iOS plugins (#55)
  README.md
  apps/sample-app/src/screens/MenuScreen.tsx
  docs/docs/apple.md
  docs/sidebars.ts
  packages/core/src/components/polyline/OmhPolyline.ios.tsx
  packages/core/src/index.tsx
  packages/core/src/modules/core/OmhMapsModule.ios.ts
  packages/core/src/modules/ios/providers.ts
  packages/core/src/types/common.ts
  packages/plugin-azuremaps/README.md
  packages/plugin-googlemaps/README.md
  packages/plugin-googlemaps/src/index.tsx
  packages/plugin-openstreetmap/README.md
Due: lint-ts, check-types

Path conditions:
  lint-android-sample-app: any of: *.kt
  lint-ts: any of: *.{js,ts,jsx,tsx}
  check-types: any of: *.{ts,tsx}
