Repository openmobilehub/react-native-omh-maps: changes, and which lefthook commands are due for each by the changed paths.
All: lint-android-sample-app, lint-ts, check-types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-android-sample-app:
      glob: '*.kt'
      run: cd sample-app/android && ./gradlew detekt -PautoCorrect=true --parallel --continue

    lint-ts:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}

    check-types:
      glob: '*.{ts,tsx}'
      run: yarn typecheck

commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

pre-push:
  parallel: true
  commands:
    unit-test:
      run: yarn test

refactor: update azure maps mapview interface
  packages/plugin-azuremaps/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/azuremaps/RNOmhMapsPluginAzuremapsModuleImpl.kt
Due: lint-android-sample-app

fix: marker icon being reset to default when color prop is changed while the icon is set to custom (#33)
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsMarkerViewManagerImpl.kt
Due: lint-android-sample-app

fix: azure maps info windows display bug with RN
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhOnMapLoadedEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/src/components/mapView/OmhMapView.ios.tsx
  packages/core/src/components/mapView/OmhMapView.tsx
  packages/core/src/components/mapView/OmhMapView.types.ts
  packages/core/src/components/mapView/RNOmhMapsCoreViewNativeComponent.ts
  packages/core/src/components/marker/OmhMarker.tsx
  packages/core/src/context/OmhMapContext.ts
  packages/core/src/hooks/useOmhMapContext.ts
Due: lint-android-sample-app, lint-ts, check-types

refactor: migrate to PanelCheckbox in markers & IWs screens
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  sample-app/src/screens/demos/InfoWindowScreen.tsx
  sample-app/src/screens/demos/MarkerMapScreen.tsx
Due: lint-android-sample-app, lint-ts, check-types

fix: azure maps info windows negative offset with default IW anchor prop value
  packages/core/src/components/marker/OmhMarker.tsx
Due: lint-ts, check-types

fix: logger name in InfoWindowScreen
  sample-app/src/screens/demos/InfoWindowScreen.tsx
Due: lint-ts, check-types

OMHD-314: Location icon fixes (#34)
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/src/components/mapView/OmhMapView.tsx
  packages/core/src/components/mapView/OmhMapViewHelpers.ts
  packages/plugin-azuremaps/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/azuremaps/FragmentUtils.kt
  packages/plugin-azuremaps/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/azuremaps/RNOmhMapsPluginAzuremapsModuleImpl.kt
  packages/plugin-azuremaps/android/src/newarch/RNOmhMapsPluginAzuremapsModule.kt
  packages/plugin-azuremaps/android/src/oldarch/RNOmhMapsPluginAzuremapsModule.kt
  packages/plugin-azuremaps/src/NativeOmhMapsPluginAzureMapsModule.ts
  packages/plugin-mapbox/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/mapbox/RNOmhMapsPluginMapboxModuleImpl.kt
  packages/plugin-mapbox/android/src/newarch/RNOmhMapsPluginMapboxModule.kt
  packages/plugin-mapbox/android/src/oldarch/RNOmhMapsPluginMapboxModule.kt
  packages/plugin-mapbox/src/NativeOmhMapsPluginMapboxModule.ts
Due: lint-android-sample-app, lint-ts, check-types

refactor: changes after CR
  packages/core/src/components/marker/OmhMarker.tsx
  packages/core/src/hooks/useOmhMarkerOSMFix.ts
Due: lint-ts, check-types

feat: add/remove reference polyline/polygons checkbox
  sample-app/src/screens/demos/PolygonMapScreen.tsx
  sample-app/src/screens/demos/PolylineMapScreen.tsx
Due: lint-ts, check-types

fix: marker default color not applied on Mapbox when switching from colored to default icon
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsMarkerViewManagerImpl.kt
  packages/core/src/components/marker/OmhMarker.tsx
Due: lint-android-sample-app, lint-ts, check-types

fix: replace magic number with helper call in OmhMarker
  packages/core/src/components/marker/OmhMarker.tsx
  sample-app/src/screens/demos/MarkerMapScreen.tsx
Due: lint-ts, check-types

feat: add/remove reference polyline/polygons checkbox (#35)
  sample-app/src/screens/demos/PolygonMapScreen.tsx
  sample-app/src/screens/demos/PolylineMapScreen.tsx
Due: lint-ts, check-types

fix: code refactor after cr
  packages/core/src/components/marker/OmhMarker.ios.tsx
  packages/core/src/utils/anchorHelpers.ts
Due: lint-ts, check-types

refactor: kotlin code changes after cr
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/utils/ViewUtils.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsMarkerViewManagerImpl.kt
Due: lint-android-sample-app

feat: draggable marker on InfoWindowScreen
  sample-app/src/screens/demos/InfoWindowScreen.tsx
Due: lint-ts, check-types

OMHD-196: Info Windows (#32)
  .yarn/releases/yarn-4.1.1.cjs
  .yarn/releases/yarn-4.2.2.cjs
  .yarnrc.yml
  package.json
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCorePackage.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/entities/OmhMapEntity.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/entities/OmhMarkerEntity.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhOnMarkerIWClose.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhOnMarkerIWLongPressEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhOnMarkerIWOpen.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhOnMarkerIWPressEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/utils/DrawableLoader.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/utils/ViewUtils.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsMarkerViewManagerImpl.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsMarkerViewManager.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsMarkerViewManager.kt
  packages/core/src/components/infoWindow/OmhInfoWindowConstants.ts
  packages/core/src/components/mapView/OmhMapView.ios.tsx
  packages/core/src/components/mapView/OmhMapView.tsx
  packages/core/src/components/mapView/OmhMapView.types.ts
  packages/core/src/components/mapView/RNOmhMapsCoreViewNativeComponent.ts
  packages/core/src/components/marker/OmhMarker.tsx
  packages/core/src/components/marker/OmhMarker.types.ts
  packages/core/src/components/marker/OmhMarkerConstants.ts
  packages/core/src/components/marker/RNOmhMapsMarkerNativeComponent.ts
  packages/core/src/context/OmhMapContext.ts
  packages/core/src/hooks/useOmhMapContext.ts
  packages/core/src/hooks/useOmhMarkerOSMFix.ts
  packages/core/src/index.tsx
  packages/plugin-azuremaps/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/azuremaps/RNOmhMapsPluginAzuremapsModuleImpl.kt
  sample-app/src/App.tsx
  sample-app/src/Routes.ts
  sample-app/src/screens/MenuScreen.tsx
  sample-app/src/screens/dark_style.json
  sample-app/src/screens/demos/InfoWindowScreen.tsx
  sample-app/src/screens/demos/MarkerMapScreen.tsx
  sample-app/src/screens/demos/PolylineMapScreen.tsx
Due: lint-android-sample-app, lint-ts, check-types

fix: info windows not updating their position on OSM provider while the camera is being moved
  packages/core/src/components/mapView/OmhMapView.tsx
  packages/core/src/components/mapView/OmhMapViewHelpers.ts
  packages/core/src/context/OmhMapContext.ts
  packages/plugin-openstreetmap/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/openstreetmap/FragmentUtils.kt
  packages/plugin-openstreetmap/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/openstreetmap/RNOmhMapsPluginOpenstreetmapModuleImpl.kt
  packages/plugin-openstreetmap/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/openstreetmap/RNOmhMapsPluginOpenstreetmapPackage.kt
  packages/plugin-openstreetmap/android/src/newarch/RNOmhMapsPluginOpenstreetmapModule.kt
  packages/plugin-openstreetmap/android/src/oldarch/RNOmhMapsPluginOpenstreetmapModule.kt
  packages/plugin-openstreetmap/package.json
  packages/plugin-openstreetmap/src/NativeOmhMapsPluginOpenstreetmapModule.ts
  packages/plugin-openstreetmap/src/index.tsx
Due: lint-android-sample-app, lint-ts, check-types

feat: update camera map screen
  sample-app/src/screens/demos/CameraMapScreen.tsx
Due: lint-ts, check-types

refactor: fix props
  sample-app/src/screens/demos/CameraMapScreen.tsx
Due: lint-ts, check-types

fix(build): docs deps and build & types in app
  .github/workflows/cd.yml
  docs/package.json
  package.json
  sample-app/src/App.tsx
  sample-app/src/utils/SupportUtils.ts
  yarn.lock
Due: lint-ts, check-types

fix(build): docs deps and build & types in app (#38)
  .github/workflows/cd.yml
  docs/package.json
  package.json
  sample-app/src/App.tsx
  sample-app/src/utils/SupportUtils.ts
  yarn.lock
Due: lint-ts, check-types

test: add test id for location sharing pin
  sample-app/src/screens/demos/LocationSharingScreen.tsx
Due: lint-ts, check-types

fix: do not include android native dependencies in files shared with iOS
  packages/core/src/components/mapView/OmhMapView.tsx
  packages/core/src/components/mapView/OmhMapViewHelpers.ts
  packages/core/src/components/mapView/OmhMapViewNativeHelpers.ts
Due: lint-ts, check-types

refactor: getSupportedFeatures includes now all provides that were not excluded
  packages/core/src/components/polygon/OmhPolygon.ios.tsx
  packages/core/src/components/polyline/OmhPolyline.ios.tsx
  sample-app/src/screens/demos/MarkerMapScreen.tsx
  sample-app/src/utils/Constants.ts
  sample-app/src/utils/SupportUtils.ts
Due: lint-ts, check-types

fix: package names in OSM native module kt files
  packages/plugin-openstreetmap/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/openstreetmap/RNOmhMapsPluginOpenstreetmapPackage.kt
  packages/plugin-openstreetmap/android/src/newarch/RNOmhMapsPluginOpenstreetmapModule.kt
  packages/plugin-openstreetmap/android/src/oldarch/RNOmhMapsPluginOpenstreetmapModule.kt
Due: lint-android-sample-app

fix: rn codegen type in OSM provider’s package.json
  packages/plugin-openstreetmap/package.json
Due: none

refactor: changes after cr - extracted maybeResetInterval to shared helpers
  packages/core/src/components/mapView/OmhMapView.tsx
  packages/core/src/utils/miscHelpers.ts
Due: lint-ts, check-types

feat: iOS info window
  packages/core/src/components/marker/OmhMarker.ios.tsx
  sample-app/src/screens/demos/InfoWindowScreen.tsx
Due: lint-ts, check-types

refactor: changes after cr - useOsmInfoWindowFix
  packages/core/src/components/mapView/OmhMapView.tsx
  packages/core/src/hooks/useOsmInfoWindowFix.ts
Due: lint-ts, check-types

refactor: stripped redundant imports off RNOmhMapsPluginOpenstreetmapModule-s for both architectures
  packages/plugin-openstreetmap/android/src/newarch/RNOmhMapsPluginOpenstreetmapModule.kt
  packages/plugin-openstreetmap/android/src/oldarch/RNOmhMapsPluginOpenstreetmapModule.kt
Due: lint-android-sample-app

refactor: kotlin code simplification in FragmentUtils after cr
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/fragments/FragmentUtils.kt
  packages/plugin-azuremaps/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/azuremaps/FragmentUtils.kt
  packages/plugin-mapbox/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/mapbox/FragmentUtils.kt
  packages/plugin-openstreetmap/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/openstreetmap/FragmentUtils.kt
Due: lint-android-sample-app

OMHD-206: Markers iOS (#30)
  package.json
  packages/core/src/components/mapView/OmhMapView.tsx
  packages/core/src/components/mapView/OmhMapViewHelpers.ts
  packages/core/src/components/mapView/OmhMapViewNativeHelpers.ts
  packages/core/src/components/marker/OmhMarker.ios.tsx
  packages/core/src/components/polygon/OmhPolygon.ios.tsx
  packages/core/src/components/polyline/OmhPolyline.ios.tsx
  packages/core/src/utils/anchorHelpers.ts
  sample-app/src/screens/demos/MarkerMapScreen.tsx
  sample-app/src/utils/Constants.ts
  sample-app/src/utils/SupportUtils.ts
Due: lint-ts, check-types

docs: added front docs for modules, added compatibility matrices, OmhMarker advanced usage docs
  README.md
  docs/docs/advanced-usage/index.md
  docs/docs/azuremaps.mdx
  docs/docs/core.mdx
  docs/docs/getting-started.md
  docs/docs/googlemaps.mdx
  docs/docs/mapbox.mdx
  docs/docs/openstreetmap.mdx
  docs/sidebars.ts
  packages/core/README.md
  packages/plugin-azuremaps/README.md
  packages/plugin-googlemaps/README.md
  packages/plugin-mapbox/README.md
  packages/plugin-openstreetmap/README.md
Due: lint-ts, check-types

fix: disable showInfoWindow for iOS providers
  packages/core/src/components/marker/OmhMarker.ios.tsx
  sample-app/src/screens/demos/InfoWindowScreen.tsx
Due: lint-ts, check-types

refactor: adjust the code for single plugin installation
  packages/core/src/components/mapView/OmhMapViewNativeHelpers.ts
  packages/core/src/components/mapView/optionalAzureMapsPlugin.ts
  packages/core/src/components/mapView/optionalMapboxPlugin.ts
  packages/plugin-azuremaps/android/build.gradle
Due: lint-ts, check-types

OMHD-316: Update camera map screen (#37)
  sample-app/src/screens/demos/CameraMapScreen.tsx
  sample-app/src/screens/demos/LocationSharingScreen.tsx
Due: lint-ts, check-types

refactor: adjust the code for single plugin installation (#41)
  packages/core/src/components/mapView/OmhMapViewNativeHelpers.ts
  packages/core/src/components/mapView/optionalAzureMapsPlugin.ts
  packages/core/src/components/mapView/optionalMapboxPlugin.ts
  packages/plugin-azuremaps/android/build.gradle
Due: lint-ts, check-types

docs: added front docs for modules, added compatibility matrices, OmhMarker advanced usage docs (#39)
  README.md
  docs/docs/advanced-usage/index.md
  docs/docs/azuremaps.mdx
  docs/docs/core.mdx
  docs/docs/getting-started.md
  docs/docs/googlemaps.mdx
  docs/docs/mapbox.mdx
  docs/docs/openstreetmap.mdx
  docs/sidebars.ts
  packages/core/README.md
  packages/plugin-azuremaps/README.md
  packages/plugin-googlemaps/README.md
  packages/plugin-mapbox/README.md
  packages/plugin-openstreetmap/README.md
Due: lint-ts, check-types

fix: osm info windows relayout upon moving map camera (#36)
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/fragments/FragmentUtils.kt
  packages/core/src/components/mapView/OmhMapView.tsx
  packages/core/src/components/mapView/OmhMapViewNativeHelpers.ts
  packages/core/src/context/OmhMapContext.ts
  packages/core/src/hooks/useOsmInfoWindowFix.ts
  packages/core/src/utils/miscHelpers.ts
  packages/plugin-mapbox/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/mapbox/FragmentUtils.kt
  packages/plugin-openstreetmap/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/openstreetmap/FragmentUtils.kt
  packages/plugin-openstreetmap/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/openstreetmap/RNOmhMapsPluginOpenstreetmapModuleImpl.kt
  packages/plugin-openstreetmap/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/openstreetmap/RNOmhMapsPluginOpenstreetmapPackage.kt
  packages/plugin-openstreetmap/android/src/newarch/RNOmhMapsPluginOpenstreetmapModule.kt
  packages/plugin-openstreetmap/android/src/oldarch/RNOmhMapsPluginOpenstreetmapModule.kt
  packages/plugin-openstreetmap/src/NativeOmhMapsPluginOpenstreetmapModule.ts
  packages/plugin-openstreetmap/src/index.tsx
Due: lint-android-sample-app, lint-ts, check-types

feat: iOS onInfoWindowPress
  packages/core/src/components/marker/OmhMarker.ios.tsx
Due: lint-ts, check-types
