Repository openmobilehub/react-native-omh-maps: changes, and which lefthook commands are due for each by the changed paths.
All: lint-android, lint-ts, types

lint-android:
  run: cd sample-app/android && ./gradlew detekt -PautoCorrect=true --parallel --continue

lint-ts:
  run: npx eslint {staged_files}

types:
  run: npx tsc-files --noEmit {staged_files}

chore: updated rnc slider dependency
  sample-app/package.json
  yarn.lock
Due: none

feat: update RN for iOS
  .gitignore
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/src/OmhMapView.tsx
  sample-app/ios/Podfile
  sample-app/ios/RnOmhMapsExample.xcodeproj/project.pbxproj
  sample-app/ios/RnOmhMapsExample/AppDelegate.mm
  sample-app/ios/RnOmhMapsExample/Info.plist
  sample-app/ios/RnOmhMapsExample/PrivacyInfo.xcprivacy
  sample-app/metro.config.js
Due: lint-android, lint-ts, types

feat: add support status for camera screen
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/src/OmhMapView.tsx
  packages/core/src/index.tsx
  packages/core/src/types/common.ts
  sample-app/src/components/PanelButton.tsx
  sample-app/src/components/PanelCheckbox.tsx
  sample-app/src/screens/CameraMapScreen.tsx
  sample-app/src/screens/MenuScreen.tsx
  sample-app/src/utils/SupportUtils.ts
Due: lint-android, lint-ts, types

refactor: changes after self CR
  packages/core/android/gradle/wrapper/gradle-wrapper.jar
  packages/core/android/gradle/wrapper/gradle-wrapper.properties
  packages/core/android/gradlew
  packages/core/android/gradlew.bat
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreModuleImpl.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhOnMapReadyEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/fragments/OmhMapViewFragment.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/utils/BitmapUtils.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreModule.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreViewManager.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsMarkerViewManager.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreModule.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreViewManager.kt
  packages/core/src/OmhMapView.tsx
  sample-app/src/components/MapProviderPicker.tsx
  sample-app/src/components/Snackbar.tsx
  sample-app/src/screens/CameraMapScreen.tsx
  sample-app/src/screens/MarkerMapScreen.tsx
  sample-app/src/screens/MenuScreen.tsx
  test.txt
Due: lint-android, lint-ts, types

fix: tweaks for the old architecture
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreModuleImpl.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCorePackage.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreViewManager.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsMarkerViewManager.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreModule.kt
  sample-app/android/gradle.properties
  sample-app/src/screens/CameraMapScreen.tsx
Due: lint-android, lint-ts, types

feat: display polyline
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCorePackage.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/entities/OmhPolylineEntity.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/extensions/ReadableArrayExtensions.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsPolylineViewManagerImpl.kt
  packages/core/android/src/newarch/RNOmhMapsPolylineViewManager.kt
  packages/core/src/OmhPolyline.tsx
  packages/core/src/RNOmhMapsPolylineNativeComponent.ts
  sample-app/src/App.tsx
  sample-app/src/Routes.ts
  sample-app/src/screens/MenuScreen.tsx
  sample-app/src/screens/demos/PolylineMapScreen.tsx
Due: lint-android, lint-ts, types

fix: fix for build issues
  package.json
  packages/core/eslintrc.json
  packages/core/package.json
  packages/plugin-azuremaps/package.json
  packages/plugin-googlemaps/package.json
  packages/plugin-mapbox/package.json
  packages/plugin-openstreetmap/package.json
  sample-app/android/app/build.gradle
  sample-app/android/app/src/main/assets/fonts/MaterialCommunityIcons.ttf
  yarn.lock
Due: none

fix: imports
  packages/core/src/index.tsx
  sample-app/src/screens/demos/PolylineMapScreen.tsx
Due: lint-ts, types

refactor: fixes after self CR
  packages/core/eslintrc.json
Due: none

refactor: fixes after self CR, part 2
  sample-app/android/app/build.gradle
Due: none

fix: Build issues (#9)
  package.json
  packages/core/package.json
  packages/plugin-azuremaps/package.json
  packages/plugin-googlemaps/package.json
  packages/plugin-mapbox/package.json
  packages/plugin-openstreetmap/package.json
  sample-app/android/app/build.gradle
  sample-app/android/app/src/main/assets/fonts/MaterialCommunityIcons.ttf
  yarn.lock
Due: none

refactor: common interface changes
  CONTRIBUTING.md
  package.json
  packages/core/package.json
  packages/core/src/components/mapView/OmhMapView.tsx
  packages/core/src/types/common.ts
  packages/plugin-azuremaps/package.json
  packages/plugin-googlemaps/package.json
  packages/plugin-mapbox/package.json
  packages/plugin-openstreetmap/package.json
  sample-app/src/screens/CameraMapScreen.tsx
  sample-app/src/screens/MarkerMapScreen.tsx
  sample-app/src/screens/demos/CameraMapScreen.tsx
  sample-app/src/screens/demos/MarkerMapScreen.tsx
  sample-app/src/types.d.ts
  sample-app/src/utils/SupportUtils.ts
  test.txt
  yarn.lock
Due: lint-ts, types

chore: set typescript version to one supported by typescript-eslint
  package.json
  yarn.lock
Due: none

fix: conflicts after rebase
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsPolylineViewManager.kt
  sample-app/src/screens/demos/PolylineMapScreen.tsx
Due: lint-android, lint-ts, types

feat: major improvements in image loading - RNResourceTranscoder.ts and DrawableLoader.kt
  lefthook.yml
  packages/core/android/build.gradle
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/entities/OmhMarkerEntity.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhBaseEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhOnCameraIdleEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhOnCameraMoveStartedEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhOnMapLoadedEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhOnMapReadyEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhOnMarkerClickEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhOnMarkerDragEndEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhOnMarkerDragEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhOnMarkerPressEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/utils/DrawableLoader.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsMarkerViewManagerImpl.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsMarkerViewManager.kt
  packages/core/src/components/marker/OmhMarker.tsx
  packages/core/src/components/marker/RNOmhMapsMarkerNativeComponent.ts
  packages/core/src/types/OmhMarker.ts
  packages/core/src/types/common.ts
  packages/core/src/utils/RNResourceTranscoder.ts
  sample-app/src/screens/demos/MarkerMapScreen.tsx
Due: lint-android, lint-ts, types

feat: add polyline properties
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/extensions/ReadableMapExtensions.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/utils/ColorUtils.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsMarkerViewManagerImpl.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsPolylineViewManagerImpl.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsPolylineViewManager.kt
  packages/core/src/RNOmhMapsPolylineNativeComponent.ts
  packages/core/src/components/marker/RNOmhMapsMarkerNativeComponent.ts
  packages/core/src/components/polyline/OmhPolyline.tsx
  packages/core/src/components/polyline/OmhPolylineConstants.ts
  packages/core/src/components/polyline/RNOmhMapsPolylineNativeComponent.ts
  packages/core/src/index.tsx
  sample-app/src/components/controls/Picker.tsx
  sample-app/src/screens/demos/PolylineMapScreen.tsx
  sample-app/src/utils/mathHelpers.ts
Due: lint-android, lint-ts, types

feat: add map styles
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/fragments/FragmentUtils.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreViewManager.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsMarkerViewManager.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreViewManager.kt
  packages/core/src/OmhMapView.tsx
  packages/core/src/RNOmhMapsCoreViewNativeComponent.ts
  packages/core/src/types/common.ts
  sample-app/android/gradle.properties
  sample-app/src/App.tsx
  sample-app/src/Routes.ts
  sample-app/src/assets/mapStyles/google_style_dark.json
  sample-app/src/assets/mapStyles/google_style_retro.json
  sample-app/src/assets/mapStyles/google_style_silver.json
  sample-app/src/assets/mapStyles/mapbox_style_dark.json
  sample-app/src/assets/mapStyles/mapbox_style_retro.json
  sample-app/src/assets/mapStyles/mapbox_style_silver.json
  sample-app/src/components/PanelRadioButtonItem.tsx
  sample-app/src/screens/MenuScreen.tsx
  sample-app/src/screens/StylesMapScreen.tsx
  sample-app/src/screens/dark_style.json
Due: lint-android, lint-ts, types

refactor!: adjusted code for old architecture, both old and new are working
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/utils/DrawableLoader.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreViewManager.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsMarkerViewManager.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreViewManager.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsMarkerViewManager.kt
  packages/core/src/components/marker/OmhMarker.tsx
  packages/core/src/components/marker/RNOmhMapsMarkerNativeComponent.ts
Due: lint-android, lint-ts, types

fix: fixed yarn build:packages command
  packages/plugin-azuremaps/package.json
  packages/plugin-googlemaps/package.json
  packages/plugin-mapbox/package.json
  packages/plugin-openstreetmap/package.json
  scripts/createPlugin.ts
Due: lint-ts, types

feat: add remaining polyline properties
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/entities/OmhPolylineEntity.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhOnPolylineClickEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/extensions/ReadableArrayExtensions.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/extensions/ReadableMapExtensions.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsPolylineViewManagerImpl.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsPolylineViewManager.kt
  packages/core/src/components/polyline/OmhPolyline.tsx
  packages/core/src/components/polyline/OmhPolylineConstants.ts
  packages/core/src/components/polyline/RNOmhMapsPolylineNativeComponent.ts
  sample-app/src/screens/demos/PolylineMapScreen.tsx
Due: lint-android, lint-ts, types

feat: reference polyline & demo improvements
  packages/core/src/components/polyline/OmhPolyline.tsx
  packages/core/src/components/polyline/RNOmhMapsPolylineNativeComponent.ts
  sample-app/src/screens/demos/PolylineMapScreen.tsx
  sample-app/src/utils/Constants.ts
Due: lint-ts, types

refactor: fix package names
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreViewManager.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreViewManager.kt
Due: lint-android

fix: fix eslint issues
  packages/core/src/OmhMapView.tsx
  packages/core/src/index.tsx
  sample-app/src/Routes.ts
  sample-app/src/screens/CameraMapScreen.tsx
  sample-app/src/screens/MenuScreen.tsx
  sample-app/src/screens/StylesMapScreen.tsx
Due: lint-ts, types

OMHD-201: Map Styles (#11)
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/fragments/FragmentUtils.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreViewManager.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsMarkerViewManager.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreViewManager.kt
  packages/core/src/OmhMapView.tsx
  packages/core/src/RNOmhMapsCoreViewNativeComponent.ts
  packages/core/src/index.tsx
  packages/core/src/types/common.ts
  sample-app/android/gradle.properties
  sample-app/src/App.tsx
  sample-app/src/Routes.ts
  sample-app/src/assets/mapStyles/google_style_dark.json
  sample-app/src/assets/mapStyles/google_style_retro.json
  sample-app/src/assets/mapStyles/google_style_silver.json
  sample-app/src/assets/mapStyles/mapbox_style_dark.json
  sample-app/src/assets/mapStyles/mapbox_style_retro.json
  sample-app/src/assets/mapStyles/mapbox_style_silver.json
  sample-app/src/components/PanelRadioButtonItem.tsx
  sample-app/src/screens/CameraMapScreen.tsx
  sample-app/src/screens/MenuScreen.tsx
  sample-app/src/screens/StylesMapScreen.tsx
  sample-app/src/screens/dark_style.json
Due: lint-android, lint-ts, types

feat: added location sharing screen
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhMyLocationButtonPressEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreModule.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreViewManager.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreModule.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreViewManager.kt
  packages/core/src/NativeOmhMapsCoreModule.ts
  packages/core/src/components/mapView/OmhMapView.tsx
  packages/core/src/components/mapView/RNOmhMapsCoreViewNativeComponent.ts
  packages/core/src/types/OmhMapView.ts
  sample-app/android/app/src/main/AndroidManifest.xml
  sample-app/package.json
  sample-app/src/App.tsx
  sample-app/src/Routes.ts
  sample-app/src/assets/img/marker_pin.png
  sample-app/src/assets/img/marker_shadow.webp
  sample-app/src/screens/MenuScreen.tsx
  sample-app/src/screens/demos/LocationResultScreen.tsx
  sample-app/src/screens/demos/LocationSharingScreen.tsx
  sample-app/src/types.d.ts
Due: lint-android, lint-ts, types

feat: add support for spans, fix custom cap
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/extensions/ReadableArrayExtensions.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/extensions/ReadableMapExtensions.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsPolylineViewManagerImpl.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsPolylineViewManager.kt
  packages/core/src/components/polyline/OmhPolyline.tsx
  packages/core/src/components/polyline/RNOmhMapsPolylineNativeComponent.ts
  packages/core/src/types/OmhPolyline.ts
  sample-app/src/screens/demos/PolylineMapScreen.tsx
Due: lint-android, lint-ts, types

feat: refactor rn screen to match android
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsPolylineViewManagerImpl.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsPolylineViewManager.kt
  packages/core/src/components/polyline/OmhPolyline.tsx
  sample-app/src/components/controls/Picker.tsx
  sample-app/src/components/controls/Slider.tsx
  sample-app/src/screens/demos/MarkerMapScreen.tsx
  sample-app/src/screens/demos/PolylineMapScreen.tsx
Due: lint-android, lint-ts, types

feat: add support for old architecture
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsPolylineViewManager.kt
Due: lint-android

feat: update polyline map
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreModule.kt
  packages/core/src/components/polyline/OmhPolyline.tsx
  sample-app/src/components/controls/PanelCheckbox.tsx
  sample-app/src/screens/demos/PolylineMapScreen.tsx
Due: lint-android, lint-ts, types

feat: update types
  packages/core/src/components/polyline/OmhPolyline.tsx
  packages/core/src/components/polyline/OmhPolylineConstants.ts
  packages/core/src/components/polyline/OmhPolylineHelpers.ts
  packages/core/src/components/polyline/RNOmhMapsPolylineNativeComponent.ts
  packages/core/src/index.tsx
  packages/core/src/types/OmhPolyline.ts
  packages/core/src/types/common.ts
  sample-app/src/screens/demos/PolylineMapScreen.tsx
Due: lint-ts, types

fix: support loading images from RN assets in release mode in DrawableLoader
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/utils/DrawableLoader.kt
  packages/core/src/components/marker/OmhMarker.tsx
  packages/core/src/components/marker/RNOmhMapsMarkerNativeComponent.ts
  packages/core/src/index.tsx
  packages/core/src/types.d.ts
  packages/core/src/types/common.ts
  packages/core/src/utils/RNResourceTranscoder.ts
Due: lint-android, lint-ts, types

feat: update native code
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsMarkerViewManagerImpl.kt
Due: lint-android

refactor: fixes after self CR
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/extensions/ReadableMapExtensions.kt
  packages/core/src/components/marker/OmhMarker.tsx
  packages/core/src/components/polyline/OmhPolyline.tsx
  sample-app/android/gradle.properties
Due: lint-android, lint-ts, types

fix: marker view manager not setting icon & color in a mutually exclusive way, causing overwrites
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsMarkerViewManagerImpl.kt
Due: lint-android

refactor: changes after CR
  packages/core/android/gradle/wrapper/gradle-wrapper.jar
  packages/core/android/gradle/wrapper/gradle-wrapper.properties
  packages/core/android/gradlew
  packages/core/android/gradlew.bat
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreModuleImpl.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhBaseEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhBaseEventCompanion.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhOnCameraIdleEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhOnCameraMoveStartedEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhOnMapLoadedEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhOnMapReadyEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhOnMarkerDragEndEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhOnMarkerDragEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhOnMarkerDragStartEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhOnMarkerPressEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/fragments/OmhMapViewFragment.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsMarkerViewManagerImpl.kt
  packages/core/src/components/marker/OmhMarker.tsx
  packages/core/src/components/marker/RNOmhMapsMarkerNativeComponent.ts
  packages/plugin-azuremaps/src/index.tsx
  packages/plugin-googlemaps/src/index.tsx
  sample-app/src/screens/demos/MarkerMapScreen.tsx
  yarn.lock
Due: lint-android, lint-ts, types

fix: marker setIcon & setBackgroundColor for multiple instances
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsMarkerViewManagerImpl.kt
Due: lint-android

fix: null pointer exception on old arch when unmounting entites after unmounting map fragment
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
Due: lint-android

Path conditions:
  lint-android: any of: *.kt
  lint-ts: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{ts,tsx}
