Repository openmobilehub/react-native-omh-maps: changes, and which lefthook commands are due for each by the changed paths.
All: lint-ts, types

lint-ts:
  run: npx eslint {staged_files}

types:
  run: npx tsc-files --noEmit {staged_files}

chore: lefthook pre-push test script
  lefthook.yml
  package.json
Due: none

refactor: better code in RN core package
  lefthook.yml
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/ReactNativeOmhMapsCoreMapViewManager.kt
  packages/core/src/RNOmhMapsCoreMapViewManager.tsx
  packages/core/src/components/OmhMapView.tsx
  packages/core/src/components/index.ts
  packages/core/src/index.tsx
  packages/core/src/utils/getNativeComponent.ts
  sample-app/src/App.tsx
Due: lint-ts, types

ci: improved caching for workflow
  .github/workflows/ci.yml
Due: none

ci: improved caching for CD workflow
  .github/workflows/cd.yml
Due: none

feat: functional navigation & react-native-paper UI, plain map screen, menu screen, about screen
  .eslintrc.json
  lefthook.yml
  packages/core/android/build.gradle
  packages/plugin-azuremaps/android/build.gradle
  packages/plugin-googlemaps/android/build.gradle
  packages/plugin-mapbox/android/build.gradle
  packages/plugin-openstreetmap/android/build.gradle
  sample-app/android/app/build.gradle
  sample-app/android/app/src/main/java/com/openmobilehub/android/rn/maps/sample/MainActivity.kt
  sample-app/android/app/src/main/res/drawable/rn_edit_text_material.xml
  sample-app/android/app/src/main/res/values/colors.xml
  sample-app/android/app/src/main/res/values/styles.xml
  sample-app/android/build.gradle
  sample-app/android/buildSrc/build.gradle.kts
  sample-app/babel.config.js
  sample-app/ios/Podfile.lock
  sample-app/ios/RnOmhMapsExample.xcodeproj/project.pbxproj
  sample-app/metro.config.js
  sample-app/package.json
  sample-app/src/App.tsx
  sample-app/src/Routes.ts
  sample-app/src/components/AppBarHeader.tsx
  sample-app/src/components/MenuListItem.tsx
  sample-app/src/hooks/useCreateAdaptiveTheme.ts
  sample-app/src/screens/AboutScreen.tsx
  sample-app/src/screens/MenuScreen.tsx
  sample-app/src/screens/PlainMapScreen.tsx
  yarn.lock
Due: lint-ts, types

feat: api wip
  packages/core/src/index.tsx
Due: lint-ts

feat: api improvements
  packages/core/src/index.tsx
  packages/core/src/types/OmhCallout.ts
  packages/core/src/types/OmhMapView.ts
  packages/core/src/types/OmhMarker.ts
  packages/core/src/types/OmhPolygon.ts
  packages/core/src/types/OmhPolyline.ts
  packages/core/src/types/common.ts
Due: lint-ts, types

refactor: moved native sources
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCorePackage.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanager/RNOmhMapsCoreView.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanager/RNOmhMapsCoreViewManager.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanager/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/src/OmhMapView.tsx
Due: lint-ts

feat: demo plain map screen controls
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanager/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/src/OmhMapView.tsx
  sample-app/package.json
  sample-app/src/screens/PlainMapScreen.tsx
  yarn.lock
Due: lint-ts

refactor: native & demo code
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanager/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/android/src/newarch/RNOmhMapsCoreViewManager.kt
  packages/core/android/src/oldarch/RNOmhMapsCoreViewManager.kt
  packages/core/src/OmhMapView.tsx
  packages/plugin-mapbox/android/build.gradle
  packages/plugin-openstreetmap/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/openstreetmap/RNOmhMapsPluginOpenstreetmapViewManager.kt
  sample-app/src/screens/PlainMapScreen.tsx
Due: lint-ts

fix(ci): cd workflow
  .github/workflows/cd.yml
Due: none

fix: errors in exports of plugins & createPlugin script not customizing these exports when creating
  packages/core/src/OmhMapView.tsx
  packages/plugin-azuremaps/src/index.tsx
  packages/plugin-googlemaps/src/index.tsx
  packages/plugin-mapbox/src/index.tsx
  packages/plugin-openstreetmap/src/index.tsx
  scripts/createPlugin.ts
Due: lint-ts, types

docs: updated CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

feat: added native modules to Mapbox & Azure Maps plugins
  package.json
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreModuleImpl.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCorePackage.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OnOmhMapReadyEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/fragments/FragmentUtils.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/fragments/OmhMapViewFragment.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanager/RNOmhMapsCoreView.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/android/src/newarch/RNOmhMapsCoreModule.kt
  packages/core/android/src/newarch/RNOmhMapsCoreViewManager.kt
  packages/core/android/src/oldarch/RNOmhMapsCoreModule.kt
  packages/core/package.json
  packages/core/src/NativeOmhMapsCoreModule.ts
  packages/core/src/index.tsx
  packages/plugin-azuremaps/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/azuremaps/RNOmhMapsPluginAzuremapsModuleImpl.kt
  packages/plugin-azuremaps/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/azuremaps/RNOmhMapsPluginAzuremapsPackage.kt
  packages/plugin-azuremaps/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/azuremaps/RNOmhMapsPluginAzuremapsView.kt
  packages/plugin-azuremaps/android/src/newarch/RNOmhMapsPluginAzuremapsModule.kt
  packages/plugin-azuremaps/android/src/oldarch/RNOmhMapsPluginAzuremapsModule.kt
  packages/plugin-azuremaps/package.json
  packages/plugin-azuremaps/src/NativeOmhMapsPluginAzureMapsModule.ts
  packages/plugin-azuremaps/src/index.tsx
  packages/plugin-mapbox/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/mapbox/RNOmhMapsPluginMapboxModuleImpl.kt
  packages/plugin-mapbox/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/mapbox/RNOmhMapsPluginMapboxPackage.kt
  packages/plugin-mapbox/android/src/newarch/RNOmhMapsPluginMapboxModule.kt
  packages/plugin-mapbox/android/src/oldarch/RNOmhMapsPluginMapboxModule.kt
  packages/plugin-mapbox/package.json
  packages/plugin-mapbox/src/NativeOmhMapsPluginMapboxModule.ts
  packages/plugin-mapbox/src/index.tsx
  sample-app/test.js
Due: lint-ts, types

fix(ci): append GH secrets to build files
  .github/actions/setup/action.yml
  .github/scripts/setup_secrets.sh
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/entities/OmhMapEntity.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/entities/OmhMarkerEntity.kt
Due: none

feat: marker prototype
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCorePackage.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/entities/OmhMapEntity.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/entities/OmhMarkerEntity.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/fragments/OmhMapViewFragment.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsMarkerViewManagerImpl.kt
  packages/core/android/src/newarch/RNOmhMapsCoreViewManager.kt
  packages/core/android/src/newarch/RNOmhMapsCoreViewManagerSpec.kt
  packages/core/android/src/newarch/RNOmhMapsMarkerViewManager.kt
  packages/core/android/src/oldarch/RNOmhMapsCoreViewManagerSpec.kt
  packages/core/package.json
  packages/core/src/NativeOmhMapsCoreModule.ts
  packages/core/src/OmhMapView.tsx
  packages/core/src/OmhMarker.tsx
  packages/core/src/RNOmhMapsMarkerNativeComponent.ts
  packages/core/src/index.tsx
  sample-app/src/screens/PlainMapScreen.tsx
Due: lint-ts, types

fix: map provider picker bugs, moved marker sample to new screen
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/fragments/OmhMapViewFragment.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/android/src/newarch/RNOmhMapsCoreViewManager.kt
  packages/core/src/OmhMapView.tsx
  sample-app/src/App.tsx
  sample-app/src/Routes.ts
  sample-app/src/components/AppBarHeader.tsx
  sample-app/src/components/ControlParagraph.tsx
  sample-app/src/components/MapProviderPicker.tsx
  sample-app/src/screens/MarkerMapScreen.tsx
  sample-app/src/screens/MenuScreen.tsx
  sample-app/src/screens/PlainMapScreen.tsx
Due: lint-ts, types

refactor: much better native abstraction
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/entities/OmhMapEntity.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/entities/OmhMarkerEntity.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/fragments/OmhMapViewFragment.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/android/src/newarch/RNOmhMapsCoreViewManager.kt
  sample-app/src/screens/MarkerMapScreen.tsx
Due: lint-ts

feat: added multiple maps demo screen
  sample-app/src/App.tsx
  sample-app/src/Routes.ts
  sample-app/src/screens/MultipleMapsScreen.tsx
  sample-app/src/styles/demoStyles.ts
Due: lint-ts, types

refactor: shared styles for demo screens
  sample-app/src/screens/AboutScreen.tsx
  sample-app/src/screens/MarkerMapScreen.tsx
  sample-app/src/screens/MenuScreen.tsx
  sample-app/src/screens/PlainMapScreen.tsx
Due: lint-ts

refactor: support for landscape in MultipleMapsScreen
  sample-app/package.json
  sample-app/src/screens/MultipleMapsScreen.tsx
  yarn.lock
Due: lint-ts

feat: unlock all 4 screen orientations in android app
  sample-app/android/app/src/main/AndroidManifest.xml
Due: none

[DRAFT] OMHD-192: Common interface (#5)
  packages/core/src/types/OmhCallout.ts
  packages/core/src/types/OmhMapView.ts
  packages/core/src/types/OmhMarker.ts
  packages/core/src/types/OmhPolygon.ts
  packages/core/src/types/OmhPolyline.ts
  packages/core/src/types/common.ts
Due: lint-ts, types

fix: fix needs syntax for sample-app-android step
  .github/workflows/cd.yml
Due: none

fix: skip docs steps
  .github/workflows/cd.yml
Due: none

fix: CD workflow fixes (#6)
  .github/workflows/cd.yml
Due: none

feat: ui for Camera Map screen
  sample-app/src/App.tsx
  sample-app/src/Routes.ts
  sample-app/src/components/PanelButton.tsx
  sample-app/src/components/PanelCheckbox.tsx
  sample-app/src/screens/CameraMapScreen.tsx
  sample-app/src/screens/MenuScreen.tsx
  sample-app/src/styles/demoStyles.ts
Due: lint-ts, types

refactor: fix core package paths
  packages/core/android/gradle/wrapper/gradle-wrapper.jar
  packages/core/android/gradle/wrapper/gradle-wrapper.properties
  packages/core/android/gradlew
  packages/core/android/gradlew.bat
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreModule.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreViewManager.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsMarkerViewManager.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreModule.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreViewManager.kt
Due: none

feat: implement basic map camera features
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreModuleImpl.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhOnCameraIdleEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhOnCameraMoveStartedEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhOnMapLoadedEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/utils/BitmapUtils.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreModule.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreViewManager.kt
  packages/core/src/NativeOmhMapsCoreModule.ts
  packages/core/src/OmhMapView.tsx
  packages/core/src/RNOmhMapsCoreViewNativeComponent.ts
  sample-app/src/components/Snackbar.tsx
  sample-app/src/screens/CameraMapScreen.tsx
  sample-app/src/utils/Constants.ts
Due: lint-ts, types

feat: old architecture improvements
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCorePackage.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreModule.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreViewManager.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsMarkerViewManager.kt
  packages/plugin-azuremaps/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/azuremaps/RNOmhMapsPluginAzuremapsPackage.kt
  packages/plugin-azuremaps/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/azuremaps/RNOmhMapsPluginAzuremapsView.kt
  packages/plugin-azuremaps/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/azuremaps/RNOmhMapsPluginAzuremapsViewManager.kt
  packages/plugin-azuremaps/android/src/newarch/RNOmhMapsPluginAzuremapsViewManagerSpec.kt
  packages/plugin-azuremaps/android/src/oldarch/RNOmhMapsPluginAzuremapsModule.kt
  packages/plugin-azuremaps/android/src/oldarch/RNOmhMapsPluginAzuremapsViewManagerSpec.kt
  packages/plugin-azuremaps/package.json
  packages/plugin-azuremaps/src/RNOmhMapsPluginAzuremapsViewNativeComponent.ts
  packages/plugin-googlemaps/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/googlemaps/RNOmhMapsPluginGooglemapsPackage.kt
  packages/plugin-googlemaps/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/googlemaps/RNOmhMapsPluginGooglemapsView.kt
  packages/plugin-googlemaps/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/googlemaps/RNOmhMapsPluginGooglemapsViewManager.kt
  packages/plugin-googlemaps/android/src/newarch/RNOmhMapsPluginGooglemapsViewManagerSpec.kt
  packages/plugin-googlemaps/android/src/oldarch/RNOmhMapsPluginGooglemapsViewManagerSpec.kt
  packages/plugin-googlemaps/package.json
  packages/plugin-googlemaps/src/RNOmhMapsPluginGooglemapsViewNativeComponent.ts
  packages/plugin-mapbox/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/mapbox/RNOmhMapsPluginMapboxPackage.kt
  packages/plugin-mapbox/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/mapbox/RNOmhMapsPluginMapboxView.kt
  packages/plugin-mapbox/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/mapbox/RNOmhMapsPluginMapboxViewManager.kt
  packages/plugin-mapbox/android/src/newarch/RNOmhMapsPluginMapboxViewManagerSpec.kt
  packages/plugin-mapbox/android/src/oldarch/RNOmhMapsPluginMapboxModule.kt
  packages/plugin-mapbox/android/src/oldarch/RNOmhMapsPluginMapboxViewManagerSpec.kt
  packages/plugin-mapbox/package.json
  packages/plugin-mapbox/src/RNOmhMapsPluginMapboxViewNativeComponent.ts
  packages/plugin-openstreetmap/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/openstreetmap/RNOmhMapsPluginOpenstreetmapPackage.kt
  packages/plugin-openstreetmap/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/openstreetmap/RNOmhMapsPluginOpenstreetmapView.kt
  packages/plugin-openstreetmap/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/openstreetmap/RNOmhMapsPluginOpenstreetmapViewManager.kt
  packages/plugin-openstreetmap/android/src/newarch/RNOmhMapsPluginOpenstreetmapViewManagerSpec.kt
  packages/plugin-openstreetmap/android/src/oldarch/RNOmhMapsPluginOpenstreetmapViewManagerSpec.kt
  packages/plugin-openstreetmap/package.json
  packages/plugin-openstreetmap/src/RNOmhMapsPluginOpenstreetmapViewNativeComponent.ts
  sample-app/android/gradle.properties
  sample-app/src/components/MapProviderPicker.tsx
  sample-app/src/screens/CameraMapScreen.tsx
Due: lint-ts, types

feat: wip
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreModuleImpl.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCorePackage.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhOnCameraIdleEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhOnCameraMoveStartedEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhOnMapLoadedEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhOnMapReadyEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/fragments/FragmentUtils.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/fragments/OmhMapViewFragment.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreModule.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreViewManager.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreModule.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreViewManager.kt
  packages/core/src/NativeOmhMapsCoreModule.ts
  packages/core/src/OmhMapView.tsx
  packages/core/src/RNOmhMapsCoreViewNativeComponent.ts
  sample-app/android/gradle.properties
  sample-app/src/screens/CameraMapScreen.tsx
  sample-app/src/screens/MarkerMapScreen.tsx
  sample-app/src/screens/MenuScreen.tsx
  test.txt
Due: lint-ts, types

feat: remove view at fixes
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCorePackage.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreViewManager.kt
Due: none

feat: update RN
  package.json
  packages/core/android/gradle/wrapper/gradle-wrapper.properties
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCorePackage.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreViewManager.kt
  packages/plugin-openstreetmap/src/RNOmhMapsPluginOpenstreetmapViewNativeComponent.ts
  sample-app/android/app/build.gradle
  sample-app/android/app/src/main/java/com/openmobilehub/android/rn/maps/sample/MainApplication.kt
  sample-app/android/build.gradle
  sample-app/android/gradle/wrapper/gradle-wrapper.properties
  sample-app/android/gradlew
  sample-app/android/gradlew.bat
  sample-app/package.json
  yarn.lock
Due: lint-ts, types

refactor: hide demo multiple maps screen due to upcoming changes to paths prop
  sample-app/src/App.tsx
  sample-app/src/Routes.ts
  sample-app/src/screens/MenuScreen.tsx
Due: lint-ts, types

refactor: hide demo multiple maps screen due to upcoming changes to paths prop (#7)
  sample-app/src/App.tsx
  sample-app/src/Routes.ts
  sample-app/src/screens/MenuScreen.tsx
Due: lint-ts, types

chore: updated to yarn 4.1.1
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.6.1.cjs
  .yarn/releases/yarn-4.1.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

Path conditions:
  lint-ts: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
