Repository openmobilehub/react-native-omh-maps: changes, and which lefthook commands are due for each by the changed paths.
All: lint-android-sample-app, lint-ts, check-types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-android-sample-app:
      glob: '*.kt'
      run: cd sample-app/android && ./gradlew detekt -PautoCorrect=true --parallel --continue

    lint-ts:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}

    check-types:
      glob: '*.{ts,tsx}'
      run: yarn typecheck

commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

pre-push:
  parallel: true
  commands:
    unit-test:
      run: yarn test

feat: add activity indicator
  sample-app/src/screens/demos/LocationSharingScreen.tsx
Due: lint-ts, check-types

fix: remove shared location screen from menu
  sample-app/src/screens/MenuScreen.tsx
Due: lint-ts, check-types

refactor: changes after self CR
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsLocationModuleImpl.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsLocationModule.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsLocationModule.kt
  packages/core/src/components/mapView/OmhMapView.ios.tsx
  packages/core/src/modules/location/NativeOmhMapsLocationModule.ts
  packages/core/src/modules/location/OmhMapsLocationModule.ios.ts
  packages/core/src/modules/location/OmhMapsLocationModule.ts
  packages/core/src/modules/location/OmhMapsLocationModule.types.ts
  sample-app/android/gradle.properties
Due: lint-android-sample-app, lint-ts, check-types

OMHD-202: Location Services (#24)
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreModuleImpl.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCorePackage.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsLocationModuleImpl.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreModule.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsLocationModule.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreModule.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsLocationModule.kt
  packages/core/package.json
  packages/core/src/components/mapView/OmhMapView.ios.tsx
  packages/core/src/components/mapView/OmhMapView.tsx
  packages/core/src/components/mapView/OmhMapView.types.ts
  packages/core/src/components/marker/OmhMarker.ios.tsx
  packages/core/src/index.tsx
  packages/core/src/modules/core/NativeOmhMapsCoreModule.ts
  packages/core/src/modules/core/OmhMapsModule.ios.ts
  packages/core/src/modules/core/OmhMapsModule.ts
  packages/core/src/modules/core/OmhMapsModule.types.ts
  packages/core/src/modules/location/NativeOmhMapsLocationModule.ts
  packages/core/src/modules/location/OmhMapsLocationModule.ios.ts
  packages/core/src/modules/location/OmhMapsLocationModule.ts
  packages/core/src/modules/location/OmhMapsLocationModule.types.ts
  sample-app/android/app/src/main/AndroidManifest.xml
  sample-app/ios/Podfile
  sample-app/ios/Podfile.lock
  sample-app/ios/RnOmhMapsExample/AppDelegate.mm
  sample-app/ios/RnOmhMapsExample/Info.plist
  sample-app/package.json
  sample-app/react-native.config.js
  sample-app/src/App.tsx
  sample-app/src/Routes.ts
  sample-app/src/components/MapProviderPicker.tsx
  sample-app/src/components/layout/AppBarHeader.tsx
  sample-app/src/screens/demos/LocationResultScreen.tsx
  sample-app/src/screens/demos/LocationSharingScreen.tsx
  sample-app/src/screens/demos/PlainMapScreen.tsx
  sample-app/src/screens/demos/SharedLocationMapScreen.tsx
  yarn.lock
Due: lint-android-sample-app, lint-ts, check-types

feat: iOS polygons support
  packages/core/src/components/polygon/OmhPolygon.ios.tsx
  packages/core/src/utils/colorHelper.ts
  sample-app/ios/RnOmhMapsExample.xcodeproj/project.pbxproj
  sample-app/src/screens/demos/PolygonMapScreen.tsx
Due: lint-ts, check-types

feat: iOS polygons pattern support
  packages/core/src/components/polygon/OmhPolygon.ios.tsx
  packages/core/src/utils/linePatternMapper.ts
  sample-app/src/screens/demos/PolygonMapScreen.tsx
Due: lint-ts, check-types

fix: onMapReady & onMapLoaded
  packages/core/src/components/mapView/OmhMapView.ios.tsx
  packages/core/src/components/mapView/OmhMapViewHelpers.ts
Due: lint-ts, check-types

fix: remove PatternItem in favour of PatterOption enum
  sample-app/src/components/controls/Picker.tsx
  sample-app/src/screens/demos/PolygonMapScreen.tsx
  sample-app/src/screens/demos/PolylineMapScreen.tsx
  sample-app/src/types/common.ts
  sample-app/src/utils/Constants.ts
  sample-app/src/utils/converters.ts
Due: lint-ts, check-types

refactor: pattern option to pattern mapping
  sample-app/src/screens/demos/PolygonMapScreen.tsx
  sample-app/src/screens/demos/PolylineMapScreen.tsx
  sample-app/src/utils/Constants.ts
  sample-app/src/utils/converters.ts
Due: lint-ts, check-types

fix: convertToPattern
  packages/core/src/utils/linePatternMapper.ts
Due: lint-ts, check-types

feat: add scale factor to convertToPattern & disable holes for AppleMaps
  packages/core/src/utils/linePatternMapper.ts
  sample-app/src/screens/demos/PolygonMapScreen.tsx
Due: lint-ts, check-types

fix: disable miter jointType for iOS
  sample-app/src/screens/demos/PolygonMapScreen.tsx
Due: lint-ts, check-types

OMHD-205: Polygons iOS (#25)
  packages/core/src/components/mapView/OmhMapView.ios.tsx
  packages/core/src/components/mapView/OmhMapViewHelpers.ts
  packages/core/src/components/polygon/OmhPolygon.ios.tsx
  packages/core/src/utils/colorHelper.ts
  packages/core/src/utils/linePatternMapper.ts
  sample-app/ios/RnOmhMapsExample.xcodeproj/project.pbxproj
  sample-app/src/components/controls/Picker.tsx
  sample-app/src/screens/demos/PolygonMapScreen.tsx
  sample-app/src/screens/demos/PolylineMapScreen.tsx
  sample-app/src/types/common.ts
  sample-app/src/utils/Constants.ts
Due: lint-ts, check-types

feat: added working implementation of ios polylines
  packages/core/src/components/polyline/OmhPolyline.ios.tsx
  packages/core/src/utils/linePatternMapper.ts
  sample-app/src/components/controls/Picker.tsx
  sample-app/src/screens/demos/PolylineMapScreen.tsx
Due: lint-ts, check-types

feat: small fixes
  packages/core/src/components/polyline/OmhPolyline.ios.tsx
  packages/core/src/utils/linePatternMapper.ts
Due: lint-ts, check-types

feat: code review fixes
  packages/core/src/utils/linePatternMapper.ts
  sample-app/src/screens/demos/PolylineMapScreen.tsx
Due: lint-ts, check-types

Feat/omhd 204 ios polyline support added (#26)
  packages/core/src/components/polyline/OmhPolyline.ios.tsx
  packages/core/src/utils/linePatternMapper.ts
  sample-app/src/components/controls/Picker.tsx
  sample-app/src/screens/demos/PolylineMapScreen.tsx
Due: lint-ts, check-types

feat: react native info windows base
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreModuleImpl.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCorePackage.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/entities/OmhMapEntity.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/entities/OmhMapInfoWindowContents.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/entities/OmhMarkerEntity.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/utils/DrawableLoader.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/utils/ViewUtils.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsInfoWindowContentsViewManagerImpl.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsMarkerViewManagerImpl.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreViewManager.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsInfoWindowContentsViewManager.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsMarkerViewManager.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreViewManager.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsInfoWindowContentsViewManager.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsMarkerViewManager.kt
  packages/core/src/components/infoWindow/OmhInfoWindowConstants.ts
  packages/core/src/components/infoWindow/OmhInfoWindowContents.tsx
  packages/core/src/components/infoWindow/RNOmhMapsInfoWindowNativeComponent.ts
  packages/core/src/components/mapView/OmhMapView.tsx
  packages/core/src/components/mapView/OmhMapView.types.ts
  packages/core/src/components/mapView/RNOmhMapsCoreViewNativeComponent.ts
  packages/core/src/components/marker/OmhMarker.tsx
  packages/core/src/components/marker/OmhMarker.types.ts
  packages/core/src/components/marker/OmhMarkerConstants.ts
  packages/core/src/components/marker/RNOmhMapsMarkerNativeComponent.ts
  packages/core/src/index.tsx
  sample-app/src/App.tsx
  sample-app/src/Routes.ts
  sample-app/src/screens/MenuScreen.tsx
  sample-app/src/screens/dark_style.json
  sample-app/src/screens/demos/InfoWindowScreen.tsx
  sample-app/src/screens/demos/MarkerMapScreen.tsx
  sample-app/src/screens/demos/PolylineMapScreen.tsx
Due: lint-android-sample-app, lint-ts, check-types

refactor!: retracted from custom info windows functionality due to Fabric changes
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCorePackage.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/entities/OmhMapInfoWindowContents.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/entities/OmhMarkerEntity.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsInfoWindowContentsViewManagerImpl.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsMarkerViewManagerImpl.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreViewManager.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsInfoWindowContentsViewManager.kt
  packages/core/android/src/newarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsMarkerViewManager.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsCoreViewManager.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsInfoWindowContentsViewManager.kt
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsMarkerViewManager.kt
  packages/core/src/components/infoWindow/OmhInfoWindowContents.tsx
  packages/core/src/components/infoWindow/RNOmhMapsInfoWindowNativeComponent.ts
  packages/core/src/components/mapView/OmhMapView.tsx
  packages/core/src/components/mapView/OmhMapView.types.ts
  packages/core/src/components/mapView/RNOmhMapsCoreViewNativeComponent.ts
  packages/core/src/index.tsx
  sample-app/src/screens/demos/InfoWindowScreen.tsx
Due: lint-android-sample-app, lint-ts, check-types

feat: functional marker IW events
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/entities/OmhMarkerEntity.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhOnMarkerIWClose.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhOnMarkerIWLongPressEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhOnMarkerIWOpen.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/events/OmhOnMarkerIWPressEvent.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsMarkerViewManagerImpl.kt
  packages/core/src/components/marker/OmhMarker.types.ts
  packages/core/src/components/marker/RNOmhMapsMarkerNativeComponent.ts
  sample-app/src/screens/demos/InfoWindowScreen.tsx
Due: lint-android-sample-app, lint-ts, check-types

fix: caps logic fix
  sample-app/src/screens/demos/PolylineMapScreen.tsx
Due: lint-ts, check-types

fix: caps logic fix (#27)
  sample-app/src/screens/demos/PolylineMapScreen.tsx
Due: lint-ts, check-types

fix: fix release polyline caps
  packages/core/src/components/polyline/OmhPolyline.types.ts
  packages/core/src/components/polyline/OmhPolylineHelpers.ts
Due: lint-ts, check-types

feat: update disabled styles
  sample-app/src/components/controls/Picker.tsx
  sample-app/src/components/controls/Slider.tsx
Due: lint-ts, check-types

feat: iOS markers support
  package.json
  packages/core/src/components/marker/OmhMarker.ios.tsx
  sample-app/src/screens/demos/MarkerMapScreen.tsx
Due: lint-ts, check-types

OMHD-303/OMHD-305 (#28)
  packages/core/src/components/polyline/OmhPolyline.types.ts
  packages/core/src/components/polyline/OmhPolylineHelpers.ts
  sample-app/src/components/controls/Picker.tsx
  sample-app/src/components/controls/Slider.tsx
Due: lint-ts, check-types

feat: change min polyline width to 1
  sample-app/src/screens/demos/PolylineMapScreen.tsx
Due: lint-ts, check-types

fix: code cleanup
  packages/core/src/components/marker/OmhMarker.ios.tsx
  sample-app/src/screens/demos/MarkerMapScreen.tsx
Due: lint-ts, check-types

fix: apple zoom level
  sample-app/src/screens/demos/MarkerMapScreen.tsx
Due: lint-ts, check-types

fix: code cleanup
  packages/core/src/components/polygon/OmhPolygon.ios.tsx
Due: lint-ts, check-types

feat: change min polyline width to 1 (#29)
  sample-app/src/screens/demos/PolylineMapScreen.tsx
Due: lint-ts, check-types

fix: fix mapbox compass
  packages/core/src/components/mapView/OmhMapView.tsx
  packages/plugin-mapbox/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/mapbox/FragmentUtils.kt
  packages/plugin-mapbox/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/mapbox/RNOmhMapsPluginMapboxModuleImpl.kt
  packages/plugin-mapbox/android/src/newarch/RNOmhMapsPluginMapboxModule.kt
  packages/plugin-mapbox/src/NativeOmhMapsPluginMapboxModule.ts
Due: lint-android-sample-app, lint-ts, check-types

feat: add old architecutre support for fix
  packages/plugin-mapbox/android/src/oldarch/RNOmhMapsPluginMapboxModule.kt
Due: lint-android-sample-app

fix: fix mapbox compass (#31)
  packages/core/src/components/mapView/OmhMapView.tsx
  packages/plugin-mapbox/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/mapbox/FragmentUtils.kt
  packages/plugin-mapbox/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/mapbox/RNOmhMapsPluginMapboxModuleImpl.kt
  packages/plugin-mapbox/android/src/newarch/RNOmhMapsPluginMapboxModule.kt
  packages/plugin-mapbox/android/src/oldarch/RNOmhMapsPluginMapboxModule.kt
  packages/plugin-mapbox/src/NativeOmhMapsPluginMapboxModule.ts
Due: lint-android-sample-app, lint-ts, check-types

fix: info window not showing up on AzureMaps & OSM providers due to lack of being laid out
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/entities/OmhMapEntity.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/utils/ViewUtils.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsMarkerViewManagerImpl.kt
Due: lint-android-sample-app

fix: marker icon being reset to default when color prop is changed while the icon is set to custom
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsMarkerViewManagerImpl.kt
Due: lint-android-sample-app

chore: update yarn to 4.2.2
  .yarn/releases/yarn-4.1.1.cjs
  .yarn/releases/yarn-4.2.2.cjs
  .yarnrc.yml
  package.json
Due: none

fix: info windows not being laid out properly upon anchor changes
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsMarkerViewManagerImpl.kt
Due: lint-android-sample-app

fix: add fix for my location icon
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/src/components/mapView/OmhMapView.tsx
  packages/core/src/components/mapView/OmhMapViewHelpers.ts
  packages/plugin-azuremaps/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/azuremaps/FragmentUtils.kt
  packages/plugin-azuremaps/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/azuremaps/RNOmhMapsPluginAzuremapsModuleImpl.kt
  packages/plugin-azuremaps/android/src/newarch/RNOmhMapsPluginAzuremapsModule.kt
  packages/plugin-azuremaps/android/src/oldarch/RNOmhMapsPluginAzuremapsModule.kt
  packages/plugin-azuremaps/src/NativeOmhMapsPluginAzureMapsModule.ts
  packages/plugin-mapbox/android/src/main/java/com/openmobilehub/android/rn/maps/plugin/mapbox/RNOmhMapsPluginMapboxModuleImpl.kt
  packages/plugin-mapbox/android/src/newarch/RNOmhMapsPluginMapboxModule.kt
  packages/plugin-mapbox/android/src/oldarch/RNOmhMapsPluginMapboxModule.kt
  packages/plugin-mapbox/src/NativeOmhMapsPluginMapboxModule.ts
Due: lint-android-sample-app, lint-ts, check-types

fix: make MarkerMapScreen markers draggable, layout IWs upon marker changes
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsCoreViewManagerImpl.kt
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsMarkerViewManagerImpl.kt
  sample-app/src/screens/demos/MarkerMapScreen.tsx
Due: lint-android-sample-app, lint-ts, check-types
