Repository openmobilehub/react-native-omh-maps: changes, and which lefthook commands are due for each by the changed paths.
All: lint-android-sample-app, lint-ts, check-types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-android-sample-app:
      glob: '*.kt'
      run: cd sample-app/android && ./gradlew detekt -PautoCorrect=true --parallel --continue

    lint-ts:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}

    check-types:
      glob: '*.{ts,tsx}'
      run: yarn typecheck

commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

pre-push:
  parallel: true
  commands:
    unit-test:
      run: yarn test

docs: update apple maps documentation, part 2
  docs/docs/apple.md
Due: none

docs: update links
  README.md
  docs/docs/apple.md
  packages/core/README.md
  packages/plugin-azuremaps/README.md
  packages/plugin-googlemaps/README.md
  packages/plugin-mapbox/README.md
  packages/plugin-openstreetmap/README.md
Due: none

OMHD-354: Update apple maps documentation (#73)
  README.md
  docs/docs/apple.md
  packages/core/README.md
  packages/plugin-mapbox/README.md
  packages/plugin-openstreetmap/README.md
Due: none

chore: version update to 2.1.0
  apps/sample-app/android/build.gradle
  packages/core/android/build.gradle
  packages/plugin-azuremaps/android/build.gradle
  packages/plugin-googlemaps/android/build.gradle
  packages/plugin-mapbox/android/build.gradle
  packages/plugin-openstreetmap/android/build.gradle
Due: none

chore: version update to 2.1.0 (#74)
  apps/sample-app/android/build.gradle
  packages/core/android/build.gradle
  packages/plugin-azuremaps/android/build.gradle
  packages/plugin-googlemaps/android/build.gradle
  packages/plugin-mapbox/android/build.gradle
  packages/plugin-openstreetmap/android/build.gradle
Due: none

chore: configure lerna
  .github/scripts/bump-version.sh
  lerna.json
  package.json
  yarn.lock
Due: none

chore: remove jq as dependency
  .github/scripts/bump-version.sh
Due: none

ci: add publish script
  .github/scripts/check-version.sh
  .github/workflows/publish.yml
Due: none

chore: release v1.0.0-alpha.0
  lerna.json
  packages/core/package.json
  packages/plugin-azuremaps/package.json
  packages/plugin-googlemaps/package.json
  packages/plugin-mapbox/package.json
  packages/plugin-openstreetmap/package.json
Due: none

chore: change pr link in bump-version script
  .github/scripts/bump-version.sh
Due: none

fix: fix osm marker visibility
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsMarkerViewManagerImpl.kt
Due: lint-android-sample-app

fix: fix osm marker visibility (#76)
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/viewmanagers/RNOmhMapsMarkerViewManagerImpl.kt
Due: lint-android-sample-app

Release/V1.0.0 alpha.0 (#75)
  .github/scripts/bump-version.sh
  .github/scripts/check-version.sh
  .github/workflows/publish.yml
  lerna.json
  package.json
  packages/core/package.json
  packages/plugin-azuremaps/package.json
  packages/plugin-googlemaps/package.json
  packages/plugin-mapbox/package.json
  packages/plugin-openstreetmap/package.json
  yarn.lock
Due: none

chore: add npmrc to gitignore
  .gitignore
Due: none

chore: update package.json options
  packages/core/package.json
  packages/plugin-azuremaps/package.json
  packages/plugin-googlemaps/package.json
  packages/plugin-mapbox/package.json
  packages/plugin-openstreetmap/package.json
Due: none

ci: update publish workflow
  .github/workflows/publish.yml
Due: none

chore: release v1.0.0-alpha.1
  lerna.json
  packages/core/package.json
  packages/plugin-azuremaps/package.json
  packages/plugin-googlemaps/package.json
  packages/plugin-mapbox/package.json
  packages/plugin-openstreetmap/package.json
Due: none

V1.0.0 alpha.1 (#77)
  .github/workflows/publish.yml
  .gitignore
  lerna.json
  packages/core/package.json
  packages/plugin-azuremaps/package.json
  packages/plugin-googlemaps/package.json
  packages/plugin-mapbox/package.json
  packages/plugin-openstreetmap/package.json
Due: none

docs: update docs
  CONTRIBUTING.md
  README.md
  docs/docs/sampleapp.mdx
  docs/sidebars.ts
Due: lint-ts, check-types

docs: update docs (#78)
  CONTRIBUTING.md
  README.md
  docs/docs/sampleapp.mdx
  docs/sidebars.ts
Due: lint-ts, check-types

fix: fix setup issues
  apps/sample-app/android/app/build.gradle
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsMarkerViewManager.kt
  packages/core/src/components/mapView/OmhMapViewNativeHelpers.ts
  packages/core/src/components/mapView/optionalAzureMapsPlugin.ts
  packages/core/src/components/mapView/optionalOpenstreetmapPlugin.ts
  packages/plugin-azuremaps/README.md
  packages/plugin-azuremaps/android/build.gradle
  packages/plugin-mapbox/README.md
Due: lint-android-sample-app, lint-ts, check-types

fix: typo fixes
  packages/plugin-azuremaps/README.md
  packages/plugin-mapbox/README.md
Due: none

fix: fix setup issues (#80)
  apps/sample-app/android/app/build.gradle
  packages/core/android/src/oldarch/java/com/openmobilehub/android/rn/maps/core/RNOmhMapsMarkerViewManager.kt
  packages/core/src/components/mapView/OmhMapViewNativeHelpers.ts
  packages/core/src/components/mapView/optionalAzureMapsPlugin.ts
  packages/core/src/components/mapView/optionalOpenstreetmapPlugin.ts
  packages/plugin-azuremaps/README.md
  packages/plugin-azuremaps/android/build.gradle
  packages/plugin-mapbox/README.md
Due: lint-android-sample-app, lint-ts, check-types

chore: release v1.0.0-alpha.2
  lerna.json
  packages/core/package.json
  packages/plugin-azuremaps/package.json
  packages/plugin-googlemaps/package.json
  packages/plugin-mapbox/package.json
  packages/plugin-openstreetmap/package.json
Due: none

chore: release v1.0.0-alpha.2 (#81)
  lerna.json
  packages/core/package.json
  packages/plugin-azuremaps/package.json
  packages/plugin-googlemaps/package.json
  packages/plugin-mapbox/package.json
  packages/plugin-openstreetmap/package.json
Due: none

fix: ios stub fixes
  packages/plugin-azuremaps/src/OmhMapsPluginAzureMapsModule.ios.ts
  packages/plugin-azuremaps/src/OmhMapsPluginAzureMapsModule.ts
  packages/plugin-azuremaps/src/index.tsx
  packages/plugin-mapbox/src/OmhMapsPluginMapboxModule.ios.ts
  packages/plugin-mapbox/src/OmhMapsPluginMapboxModule.ts
  packages/plugin-mapbox/src/index.tsx
  packages/plugin-openstreetmap/src/OmhMapsPluginOpenstreetmapModule.ios.ts
  packages/plugin-openstreetmap/src/OmhMapsPluginOpenstreetmapModule.ts
  packages/plugin-openstreetmap/src/index.tsx
Due: lint-ts, check-types

fix: fix for optional imports
  apps/sample-app/metro.config.js
  packages/core/package.json
  packages/core/src/components/mapView/OmhMapViewNativeHelpers.ts
  packages/core/src/utils/optionalPlugins/Readme.md
  packages/core/src/utils/optionalPlugins/_optionalMapboxPlugin.ts
  packages/core/src/utils/optionalPlugins/_optionalOpenstreetmapPlugin.ts
  packages/core/src/utils/optionalPlugins/optionalMapboxPlugin.ts
  packages/core/src/utils/optionalPlugins/optionalMapboxPlugin.workspace.ts
  packages/core/src/utils/optionalPlugins/optionalOpenstreetmapPlugin.ts
  packages/core/src/utils/optionalPlugins/optionalOpenstreetmapPlugin.workspace.ts
Due: lint-ts, check-types

fix: fix types path
  packages/core/package.json
Due: none

OMHD-379: Release fixes (#82)
  apps/sample-app/metro.config.js
  packages/core/src/components/mapView/OmhMapViewNativeHelpers.ts
  packages/core/src/utils/optionalPlugins/Readme.md
  packages/core/src/utils/optionalPlugins/_optionalMapboxPlugin.ts
  packages/core/src/utils/optionalPlugins/_optionalOpenstreetmapPlugin.ts
  packages/core/src/utils/optionalPlugins/optionalMapboxPlugin.ts
  packages/core/src/utils/optionalPlugins/optionalMapboxPlugin.workspace.ts
  packages/core/src/utils/optionalPlugins/optionalOpenstreetmapPlugin.ts
  packages/core/src/utils/optionalPlugins/optionalOpenstreetmapPlugin.workspace.ts
  packages/plugin-azuremaps/src/OmhMapsPluginAzureMapsModule.ios.ts
  packages/plugin-azuremaps/src/OmhMapsPluginAzureMapsModule.ts
  packages/plugin-azuremaps/src/index.tsx
  packages/plugin-mapbox/src/OmhMapsPluginMapboxModule.ios.ts
  packages/plugin-mapbox/src/OmhMapsPluginMapboxModule.ts
  packages/plugin-mapbox/src/index.tsx
  packages/plugin-openstreetmap/src/OmhMapsPluginOpenstreetmapModule.ios.ts
  packages/plugin-openstreetmap/src/OmhMapsPluginOpenstreetmapModule.ts
  packages/plugin-openstreetmap/src/index.tsx
Due: lint-ts, check-types

chore: release v1.0.0-alpha.3
  lerna.json
  packages/core/package.json
  packages/plugin-azuremaps/package.json
  packages/plugin-googlemaps/package.json
  packages/plugin-mapbox/package.json
  packages/plugin-openstreetmap/package.json
Due: none

chore: release v1.0.0-alpha.3 (#84)
  lerna.json
  packages/core/package.json
  packages/plugin-azuremaps/package.json
  packages/plugin-googlemaps/package.json
  packages/plugin-mapbox/package.json
  packages/plugin-openstreetmap/package.json
Due: none

fix: proguard keep added
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/fragments/OmhMapViewFragment.kt
Due: lint-android-sample-app

fix: proguard keep added (#86)
  packages/core/android/src/main/java/com/openmobilehub/android/rn/maps/core/fragments/OmhMapViewFragment.kt
Due: lint-android-sample-app

fix: iOS OMHMarker zIndex fix
  apps/sample-app/src/screens/demos/MarkerMapScreen.tsx
  packages/core/src/components/marker/OmhMarker.ios.tsx
Due: lint-ts, check-types

docs: update Google Maps docs
  packages/plugin-googlemaps/README.md
Due: none

chore: bump com.openmobilehub.android.maps:plugin-azuremaps to 2.1.1
  packages/plugin-azuremaps/android/build.gradle
Due: none

OMHD-383: Google Maps fixes (#89)
  apps/sample-app/src/screens/demos/MarkerMapScreen.tsx
  packages/core/src/components/marker/OmhMarker.ios.tsx
  packages/plugin-azuremaps/android/build.gradle
  packages/plugin-googlemaps/README.md
Due: lint-ts, check-types

chore: release v1.0.0
  lerna.json
  packages/core/package.json
  packages/plugin-azuremaps/package.json
  packages/plugin-googlemaps/package.json
  packages/plugin-mapbox/package.json
  packages/plugin-openstreetmap/package.json
Due: none

chore: release v1.0.0 (#90)
  lerna.json
  packages/core/package.json
  packages/plugin-azuremaps/package.json
  packages/plugin-googlemaps/package.json
  packages/plugin-mapbox/package.json
  packages/plugin-openstreetmap/package.json
Due: none
